<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24-Сообщение</title>
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="'Сообщение'"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/messages/}">Сообщения</a></li>
                            <li class="breadcrumb-item active" th:text="'Сообщение'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline" style="border-top-color: #999999">
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5 th:text="${message.subject}"></h5>
                            <h6 >отправитель
<!--                                th:text="${message.sender.name}"-->
                                <span class="mailbox-read-time float-right" th:text="${message.date}"><h6 th:text="${message.date}"></h6></span></h6>
                        </div>
                    </div>
                    <div class="mailbox-read-message" th:utext="${message.text}">

                    </div>
                    <div class="card-footer">
                        <a type="button" th:href="@{/messages/delete/{id}(id=${message.id})}" class="btn btn-default"><i class="far fa-trash-alt"></i>Удалить</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /.Main content -->


<!-- Footer -->
<footer th:insert="~{main-template :: footer}"></footer>
<!-- /.Footer -->
</div>


<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

</body>
</html>
