<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{myHome24}">МойДом24-Дома</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <!--    navigation card bootstrap-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>-->
    <!-- add & del input field in navigation card bootstrap-->

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=}">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">

</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="#{newMessage}"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa fa-home"
                                                                             th:text="#{homePage}"></i></a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/messages/}"
                                                           th:text="#{messages}">Сообщения</a></li>
                            <li class="breadcrumb-item active"
                                th:text="#{newMessage}"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form class="row g-3 needs-validation" novalidate th:method="POST"
                      th:action="@{/admin/messages/save}" th:object="${message}" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="card card-primary card-outline" style="border-top-color: #999999">
                        <div class="card-body">

                            <div class="form-group">
                                <input class="form-control" th:field="${message.subject}" placeholder="Тема сообщения:">
                                <div style="color: #d80450" th:if="${#fields.hasErrors('subject')}"
                                     th:errors="*{subject}"></div>
                            </div>
                            <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" th:field="${message.text}" rows="10"
                              style="height: 450px">
                    </textarea>
                                <div style="color: #d80450" th:if="${#fields.hasErrors('text')}"
                                     th:errors="*{text}"></div>
                            </div>
                            <!--                            <div class="form-group">-->
                            <!--                                <div class="btn btn-default btn-file">-->
                            <!--                                    <i class="fas fa-paperclip"></i> Attachment-->
                            <!--                                    <input type="file" name="attachment">-->
                            <!--                                </div>-->
                            <!--                                <p class="help-block">Max. 32MB</p>-->
                            <!--                            </div>-->
                            <div th:if="${recipient != null}">
                                <label for="recipient" th:text="#{recipient}">Получатель</label>
                                <input type="text" class="form-control" th:value="${recipient.getFullName()}" id="recipient">
                                <input type="hidden" class="form-control" th:value="${recipient.id}"  name="recipient">
                            </div>
                            <div th:if="${recipient == null}">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="debt" name="debt"
                                           th:checked="${selectWithDebt!=null}" th:onchange="apartmentList()">
                                    <label class="form-check-label" for="debt" th:text="#{toOwnerWithDebt}">Владельцам с
                                        задолженостями</label>
                                </div>

                                <label for="building" class="form-label" th:text="#{rc}">ЖК</label>
                                <select class="form-select" id="building" name="building"
                                        th:onchange="selectBuilding()">
                                    <option selected="" value="0" th:text="#{toAll}">Всем...</option>
                                    <option th:each="building, item : ${buildings}"
                                            th:text="${buildings[__${item.index}__].name}"
                                            th:value="${buildings[__${item.index}__].id}"
                                            th:id="${item.count}"></option>
                                </select>

                                <label for="section" class="form-label" th:text="#{section}">Секция</label>
                                <select class="form-select" id="section" th:onchange="apartmentList()" name="section">
                                    <option selected="" value="" th:text="#{toAll}">Всем...</option>

                                </select>

                                <label for="floor" class="form-label" th:text="#{floor}">Этаж</label>
                                <select class="form-select" id="floor" th:onchange="apartmentList()" name="floor">
                                    <option selected="" value="" th:text="#{toAll}">Всем...</option>
                                </select>

                                <label for="apartment" class="form-label" th:text="#{apartment}">Квартира</label>
                                <select class="form-select" id="apartment" name="apartmentId">
                                    <option selected="" value="" th:text="#{toAll}">Всем...</option>
                                </select>
                            </div>

                            <label for="date"></label>
                            <input type="hidden" id="date" name="date" class="form-control" value=""
                                   placeholder="">
                            <script>
                                var today = new Date();
                                var dateTime = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, "0") + '-' +
                                    today.getDate().toString().padStart(2, "0") + ' ' + today.getHours().toString().padStart(2, "0") + ':' +
                                    today.getMinutes().toString().padStart(2, "0");
                                document.getElementById("date").value = dateTime;
                            </script>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer" style="background-color: #fafafa">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success"><i
                                        class="far fa-envelope" th:text="#{send}"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->

                </form>
            </div>
        </section>
    </div>
    <!-- /.Main content -->
    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- Summernote -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<!-- Page specific script -->
<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote()
    })
</script>
<script th:inline="javascript">

    function selectBuilding() {

        var list = /*[[${buildings}]]*/ [];
        var selectedIndex = document.getElementById("building").selectedIndex - 1;
        //sections
        var select = document.getElementById("section");
        select.innerHTML = "<option selected=\"\" value=\"\">Всем...</option>";
        if (selectedIndex >= 0) {
            var options = list[selectedIndex].sections;
            for (let i = 0; i < options.length; i++) {
                const option = document.createElement("option");
                option.value = options[i];
                option.textContent = options[i];
                select.appendChild(option);
            }
        }
        //floors
        var selectF = document.getElementById("floor");
        selectF.innerHTML = "<option selected=\"\" value=\"\">Всем...</option>";
        if (selectedIndex >= 0) {
            var optionsF = list[selectedIndex].floors;
            for (let i = 0; i < optionsF.length; i++) {
                const optionF = document.createElement("option");
                optionF.value = optionsF[i];
                optionF.textContent = optionsF[i];
                selectF.appendChild(optionF);
            }
        }
        if (selectedIndex >= 0) {
            apartmentList();
        } else {
            document.getElementById("apartment").innerHTML = "<option selected=\"\" value=\"\">Всем...</option>";
        }
    }

    function apartmentList() {
        let sizes = $("#sizes");
        var url = "/admin/messages/getApartments";
        var select = document.getElementById("apartment");
        var isChecked = document.getElementById("debt").checked;
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                debt: isChecked,
                building_id: $('#building').val(),
                section: $('#section').val(),
                floor: $('#floor').val()
            },
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                select.innerHTML = "<option selected=\"\" value=\"\">Всем...</option>";
                var options = data;
                for (let i = 0; i < options.length; i++) {
                    const option = document.createElement("option");
                    myObj = options[i];
                    option.value = myObj.id;
                    option.textContent = myObj.number;
                    select.appendChild(option);
                }


            }

        });
    }
</script>

<!-- REQUIRED SCRIPTS -->


</body>
</html>
