<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Лицевой счёт</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/accounts}">Лицевые счета</a></li>
              <li class="breadcrumb-item active">Лицевой счёт №<span th:text="${T(java.lang.String).format('%010d', account.id)}"></span></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-3">
            <div class="input-group-addon" style="display:inline-block;">
              №
            </div>
            <input type="hidden" disabled id="id">
            <h3 style="width: 90%; caret-color:transparent; display:inline-block" class="form-control"
                th:text="${T(java.lang.String).format('%010d',account.id)}"></h3>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-6"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="box" style="caret-color:transparent; padding:0; padding-inline: 10px;">
              <div class="box-header with-border" style="padding-top: 15px; padding-bottom: 15px;">
                <h3 class="box-title" style="margin: 0; padding: 0">Просмотр лицевого счёта</h3>
                <div class="box-tools">
                  <a th:href="@{/admin/cashbox/newIncome?account_id={account_id}(account_id=${account.id})}" class="btn btn-default btn-sm">
                    <i class="fa fa-dollar visible-xs" aria-hidden="true"></i><span class="hidden-xs"> Принять платёж </span>
                  </a>
                  <a th:href="@{/admin/invoices/create?flat_id={flat_id}(flat_id=${account.apartment.id})}" class="btn btn-default btn-sm">
                    <i class="fa fa-files visible-xs" aria-hidden="true"></i><span class="hidden-xs"> Оформить квитанцию </span>
                  </a>
                  <a th:href="@{/admin/accounts/update/{id}(id=${account.id})}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs"> Редактировать счёт </span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12 col-lg-12">
                    <table class="table table-bordered table-striped table-view">
                      <tbody>
                      <tr>
                        <td style="font-weight:bold">Статус</td>
                        <td>
                          <small class="label label-success" th:if="${account.isActive}">Активен</small>
                          <small class="label label-danger" th:if="${!account.isActive}">Неактивен</small>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Дом</td>
                        <td><a th:href="@{/admin/buildings/{id}(id=${account.apartment.building.id})}" th:text="${account.apartment.building.name}"></a></td>

                      </tr>
                      <tr>
                        <td style="font-weight:bold">Секция</td>
                        <td th:text="${account.apartment.section}"></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Квартира</td>
                        <td><a th:href="@{/admin/apartments/{id}(id=${account.apartment.id})}" th:text="${account.apartment.number}"></a></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Владелец</td>
                        <td ><a th:href="@{/admin/owners/{id}(id=${account.apartment.owner.id})}"
                                th:text="${account.apartment.owner.getFullName()}"></a></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Остаток, грн.</td>
                        <td th:text="${account.balance}"></td>
                      </tr>
                      </tbody>
                    </table>

                    <div class="col-xs-12">
                      <p style="margin-bottom: 5px;">
                        <a th:href="@{/admin/meters/data?flat_id={flat_id}(flat_id=${account.apartment.id})}">Посмотреть показания счётчиков</a>
                      </p>
                      <p style="margin-bottom: 5px;">
                        <a th:href="@{/admin/cashbox/show-incomes?account_id={account_id}(account_id=${account.id})}">Посмотреть приходы</a>
                      </p>
                      <p style="margin-bottom: 5px;">
                        <a th:href="@{/admin/invoices?apartment={flat_id}&page=1(flat_id=${account.apartment.id})}">Посмотреть квитанции</a>
                      </p>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<!--<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

<!-- PAGE PLUGINS -->
<!--&lt;!&ndash; jQuery Mapael &ndash;&gt;-->
<!--<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>-->
<!--<script src="plugins/raphael/raphael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script src="plugins/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script th:src="@{/dist/js/demo.js}"></script>-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/dist/js/pages/dashboard2.js}"></script>-->
</body>
</html>
