<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/website.css}">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header mb-3">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="${building.name}"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/buildings/}">Дома</a></li>
                            <li class="breadcrumb-item active" th:text="'Дом '+${building.name}"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card" style="padding: 10px">
                    <div class="form-group" style="margin-bottom: 0px">
                        <a th:href="@{/admin/buildings/edit/{id}(id=${id})}" class="btn btn-primary btn-sm float-right">Редактировать
                            дом</a>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-0">
                                    <table class="table table-striped" width="100%">
                                        <col style="width:50%">
                                        <col style="width:50%">
                                        <tbody>
                                        <tr>
                                            <td><b>Название</b></td>
                                            <td th:text="${building.name}">?</td>
                                        </tr>
                                        <tr>
                                            <td><b>Адрес</b></td>
                                            <td th:text="${building.address}">?</td>
                                        </tr>
                                        <tr>
                                            <td><b>Секций</b></td>
                                            <td th:text="${building.sections.size()}">?</td>
                                        </tr>
                                        <tr>
                                            <td><b>Этажей</b></td>
                                            <td th:text="${building.floors.size()}">?</td>
                                        </tr>
                                        <tr>
                                            <td><b>Пользователи</b></td>
                                            <td>
                                                <div th:each="admin : ${building.getAdmins()}">
                                                    <a th:text="${admin.role+' '+admin.first_name+' '+admin.last_name}"></a>
                                                </div>
                                                <span th:if="${building.getAdmins().size() == 0}">--отсутствуют--</span>
<!--                                                th:href="@{users/{id}(id=${admin.id})}"-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post">
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <img class="img-fluid" th:src="${building.img1 != null && !building.img1.isEmpty()} ?
                                   @{${building.img1}} :  @{/images/placeholder.jpg}" alt="Photo">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-fluid mb-3" th:src="${building.img2 != null && !building.img2.isEmpty()} ?
                                   @{${building.img2}} :  @{/images/placeholder.jpg}" alt="Photo">
                                                <img class="img-fluid" th:src="${building.img3 != null && !building.img3.isEmpty()} ?
                                   @{${building.img3}} :  @{/images/placeholder.jpg}" alt="Photo">
                                            </div>
                                            <div class="col-sm-6">
                                                <img class="img-fluid mb-3" th:src="${building.img4 != null && !building.img4.isEmpty()} ?
                                   @{${building.img4}} :  @{/images/placeholder.jpg}" alt="Photo">
                                                <img class="img-fluid" th:src="${building.img5 != null && !building.img5.isEmpty()} ?
                                   @{${building.img5}} :  @{/images/placeholder.jpg}" alt="Photo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <!-- /.Main content -->


    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>


<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

</body>
</html>
