<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24</title>
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <!--    navigation card bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- add & del input field in navigation card bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="'Дом '+${building.name} + ' редакторование'"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/buildings/}">Дома</a></li>
                            <li class="breadcrumb-item active"
                                th:text="'Дом '+${building.name} + ' редакторование'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form class="row g-3 needs-validation" novalidate th:method="POST"
                      th:action="@{/admin/buildings/save}" th:object="${building}" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="card" style="padding: 10px">
                        <div class="row">
                            <div class="col-md-4">

                                <label for="id"></label>
                                <input type="hidden" id="id" class="form-control" th:field="*{id}" name="id"
                                       placeholder="">

                                <label for="name">Название</label>
                                <input type="text" class="form-control" th:field="*{name}" id="name">
                                <div style="color: #d80450" th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"></div>


                                <label for="address">Адрес</label>
                                <input type="text" class="form-control" th:field="*{address}" id="address">
                                <div style="color: #d80450" th:if="${#fields.hasErrors('address')}"
                                     th:errors="*{address}"></div>

                                <label class="control-label" for="img1">Изображение #1. Размер: (522x350)</label>
                                <input type="file" id="img1" name="img01" accept="image/*">

                                <label class="control-label" for="img2">Изображение #2. Размер: (248x160)</label>
                                <input type="file" id="img2" name="img02" accept="image/*">

                                <label class="control-label" for="img3">Изображение #3. Размер: (248x160)</label>
                                <input type="file" id="img3" name="img03" accept="image/*">

                                <label class="control-label" for="img4">Изображение #4. Размер: (248x160)</label>
                                <input type="file" id="img4" name="img04" accept="image/*">

                                <label class="control-label" for="img5">Изображение #5. Размер: (248x160)</label>
                                <input type="file" id="img5" name="img05" accept="image/*">

                            </div>
                            <div class="col-md-8">
                                <div class="post">
                                    <div class="row mb-3">
                                        <div class="col-sm-6">
                                            <img class="img-fluid" th:src="${building.img1 != null && !building.img1.isEmpty()} ?
                                   @{${building.img1}} :  @{/images/placeholder.jpg}" alt="Photo">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img class="img-fluid mb-3" th:src="${building.img2 != null && !building.img2.isEmpty()} ?
                                   @{${building.img2}} :  @{/images/placeholder.jpg}" alt="Photo">
                                                    <img class="img-fluid" th:src="${building.img3 != null && !building.img3.isEmpty()} ?
                                   @{${building.img3}} :  @{/images/placeholder.jpg}" alt="Photo">
                                                </div>
                                                <div class="col-sm-6">
                                                    <img class="img-fluid mb-3" th:src="${building.img4 != null && !building.img4.isEmpty()} ?
                                   @{${building.img4}} :  @{/images/placeholder.jpg}" alt="Photo">
                                                    <img class="img-fluid" th:src="${building.img5 != null && !building.img5.isEmpty()} ?
                                   @{${building.img5}} :  @{/images/placeholder.jpg}" alt="Photo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-header" style="background-color: #fafafa">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="sections-tab" data-bs-toggle="tab"
                                               href="#sections" role="tab" aria-controls="sections"
                                               aria-selected="true">Секции</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="floars-tab" data-bs-toggle="tab" href="#floars"
                                               role="tab" aria-controls="floars" aria-selected="false">Этажи</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="users-tab" data-bs-toggle="tab" href="#users"
                                               role="tab" aria-controls="users" aria-selected="false">Пользователи</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body" style="padding-left: 0">
                                    <div class="tab-content" id="myTabContent">

                                        <!--                                first-->
                                        <div class="tab-pane fade show active" id="sections" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <label>Название</label>
                                            <div class="multi-field-wrapper">
                                                <div class="multi-fields" th:switch="${building.sections.size()}">
                                                    <div th:case="0">
                                                        <div class="multi-field input-group"
                                                             style="margin-top: 10px; margin-bottom: 10px;">
                                                            <input type="text" class="form-control" name="sections">
                                                            <button type="button"
                                                                    class="remove-field btn btn-danger btn-sm"><i
                                                                    class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div style="color: #d80450"
                                                             th:if="${#fields.hasErrors('sections')}"
                                                             th:errors="*{sections}"></div>
                                                    </div>
                                                    <div th:case="*">
                                                        <div class="multi-field input-group"
                                                             th:each="item  : ${building.sections}"
                                                             style="margin-top: 10px; margin-bottom: 10px;">
                                                            <input type="text" th:value="${item}" class="form-control"
                                                                   name="sections">
                                                            <button type="button"
                                                                    class="remove-field btn btn-danger btn-sm"><i
                                                                    class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div style="color: #d80450"
                                                             th:if="${#fields.hasErrors('sections')}"
                                                             th:errors="*{sections}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button"
                                                            class="add-field btn btn-success btn-sm float-right">
                                                        Добавить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!--                                second-->
                                        <div class="tab-pane fade" id="floars" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <label>Название</label>
                                            <div class="multi-field-wrapper">
                                                <div class="multi-fields" th:switch="${building.floors.size()}">
                                                    <div th:case="0">
                                                        <div class="multi-field input-group"
                                                             style="margin-top: 10px; margin-bottom: 10px;">
                                                            <input type="text" class="form-control" name="floors">
                                                            <button type="button"
                                                                    class="remove-field btn btn-danger btn-sm"><i
                                                                    class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div style="color: #d80450"
                                                             th:if="${#fields.hasErrors('floors')}"
                                                             th:errors="*{floors}"></div>
                                                    </div>
                                                    <div th:case="*">
                                                        <div class="multi-field input-group"
                                                             th:each="item  : ${building.floors}"
                                                             style="margin-top: 10px; margin-bottom: 10px;">
                                                            <input type="text" th:value="${item}" class="form-control"
                                                                   name="floors">
                                                            <button type="button"
                                                                    class="remove-field btn btn-danger btn-sm"><i
                                                                    class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div style="color: #d80450"
                                                             th:if="${#fields.hasErrors('floors')}"
                                                             th:errors="*{floors}"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button"
                                                            class="add-field btn btn-success btn-sm float-right">
                                                        Добавить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!--                                third-->
                                        <div class="tab-pane fade" id="users" role="tabpanel"
                                             aria-labelledby="profile-tab">

                                            <div class="multi-field-wrapper">
                                                <div  th:switch="${building.admins.size()}">
                                                    <div th:case="0" class="multi-fields" id="multi-fields">
                                                        <div class="multi-field input-group"
                                                             style="margin-top: 10px; margin-bottom: 10px;">
                                                            <label for="admin" class="form-label"> </label>
                                                            <select class="form-select" id="admin-1" name="admins" th:onchange="'selectAdmin(1)'">
                                                                <option selected="" disabled="" value="">Choose...
                                                                <option th:each="adminL : ${adminList}"
                                                                        th:text="${adminL.first_name}+ ' '+${adminL.last_name}"
                                                                        th:value="${adminL.id}"
                                                                ></option>
                                                                <!--                                                                th:selected="${admin.id == (apartment.admin != null ? apartment.owner.id:0)}"-->
                                                            </select>
                                                            <label for="adminrole" class="form-label"> </label>
                                                            <input type="text" id="adminrole-1" class="form-control"
                                                                   name="users" style="margin-left: 10px;">
                                                            <button type="button"
                                                                    class="remove-field btn btn-danger btn-sm"><i
                                                                    class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>

                                                        </div>
                                                    </div>
                                                    <div th:case="*" class="multi-fields" id="multi-fields">
                                                        <div class="multi-field input-group"
                                                             th:each="adminOfBuilding, item  : ${building.admins}"
                                                             th:with="selectedAdmin=${building.admins[__${item.index}__]}"
                                                             style="margin-top: 10px; margin-bottom: 10px;">
                                                            <label for="admin" class="form-label"> </label>
                                                            <select th:value="${building.admins[__${item.index}__].id}"
                                                                    class="form-select" th:id="'admin-'+${item.count}" name="admins"
                                                                    th:onchange="'selectAdmin('+${item.count}+')'">

                                                                <option selected="" disabled="" value="">Choose...
                                                                <option th:each="adminL : ${adminList}"
                                                                        th:text="${adminL.first_name}+ ' '+${adminL.last_name}"
                                                                        th:value="${adminL.id}"
                                                                        th:selected="${adminL.id == (adminOfBuilding != null ? adminOfBuilding.id:0)}"
                                                                ></option>
                                                            </select>
                                                            <h2 th:text="${selectedAdmin2 != null ? '-'+selectedAdmin2.role+'-' : '++'}"></h2>
                                                            <label for="adminrole" class="form-label"> </label>
                                                            <input type="text" th:id="'adminrole-'+${item.count}"
                                                                   th:value="${selectedAdmin != null ? selectedAdmin.role : ''}"
                                                                   class="form-control"
                                                                   name="users" style="margin-left: 10px;">
                                                            <button type="button"
                                                                    class="remove-field btn btn-danger btn-sm"><i
                                                                    class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button"
                                                            class="add-field btn btn-success btn-sm float-right">
                                                        Добавить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">Сохранить</button>
                </form>
            </div>
        </section>
    </div>
    <!-- /.Main content -->


    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>

<script th:inline="javascript">
    var adminList = /*[[${adminList}]]*/ [];
    let fields = document.getElementById('multi-fields');
    // let fields = $("#multi-fields");
    console.log(fields)
    let elementsQuantity = fields.childElementCount;
    console.log('elementsQuantity '+ elementsQuantity)
    console.log('elementsQuantity+1 '+ parseInt(elementsQuantity) + 1)

    $(".multi-field-wrapper").each(function () {
        var $wrapper = $(".multi-fields", this);
        $(".add-field", $(this)).click(function (e) {
            var $clone = $(".multi-field:first-child", $wrapper).clone(true);
            // Проверяем, является ли клонированный элемент полем типа select
            if ($clone.find("select").length > 0) {
                // Найдем нужный элемент option и удалим у него атрибут selected
                $clone.find("select option[value='value-to-be-unselected']").removeAttr("selected");
                console.log(elementsQuantity)
                $clone.find("select").attr("onchange", "selectAdmin(" + (+elementsQuantity + 1) + ")");
            }
            // Добавляем атрибуты id в select и input
            $clone.find("select").attr("id", "admin-"+ (+(elementsQuantity) + 1));
            $clone.find("input").attr("id", "adminrole-"+(+elementsQuantity + 1));
            // Добавляем клонированный элемент в конец списка полей ввода внутри "multi-fields"
            $clone.appendTo($wrapper).find("input, select").val("").focus();
            elementsQuantity++;
        });
        $(".multi-field .remove-field", $wrapper).click(function () {
            if ($(".multi-field", $wrapper).length > 1)
                $(this).parent(".multi-field").remove();
        });

    });


    function selectAdmin(index) {
        var adminSelect = document.getElementById('admin-' + index);
        var adminRole = document.getElementById('adminrole-' + index);
        var selectedAdminId = adminSelect.value;
        for (var i = 0; i < adminList.length; i++) {
            if (adminList[i].id == selectedAdminId) {
                var selectedAdmin = adminList[i];
                adminRole.value = selectedAdmin.role;
            }
        }
    }





</script>

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

</body>
</html>
