<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/website.css}">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header mb-3">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1 class="m-0" th:text="${apartment.id != null? ('Квартира '+ apartment.number + ', ' + apartment.building.name): 'Новая квартира'}"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}"><i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/apartments/}">Квартиры</a></li>
                            <li class="breadcrumb-item active"
                                th:text="${apartment.id != null? ('Квартира '+ apartment.number + ', ' + apartment.building.name): 'Новая квартира'}"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card card card-primary card-outline" style="padding: 10px; border-top-color: #bbbbbb;">
                    <div class="form-group">
                        <a th:href="@{edit/{id}(id=${id})}" class="btn btn-primary btn-sm float-right" style="margin-left: 2px">Редактировать
                            квартиру <i class="fa fa-pencil visible-xs" aria-hidden="true"></i></a>
                        <a th:href="@{/admin/apartments/NewInvoiceByApartment/{id}(id=${apartment.id})}" class="btn btn-default btn-sm float-right" style="margin-left: 2px">Оформить квитанцию</a>
                        <a th:href="@{/admin/apartments/NewIncomesByApartment/{id}(id=${apartment.id})}" class="btn btn-default btn-sm float-right" style="margin-left: 2px">Принять платеж</a>
                        <h4 class="float-left">Просмотр квартиры</h4>
                    </div>

                    <div class="card">
                        <div class="card-body p-0">
                            <table class="table table-bordered table-striped" width="100%">
                                <col style="width:40%">
                                <col style="width:60%">
                                <tbody>
                                <tr>
                                    <td><b>Лицевой счет</td>
                                    <td th:text="${T(java.lang.String).format('%010d',apartment.account.id)}">?</td>
                                </tr>
                                <tr>
                                    <td><b>Номер квартиры</b></td>
                                    <td th:text="${apartment.number}">?</td>
                                </tr>
                                <tr>
                                    <td><b>Площадь</b></td>
                                    <td th:text="${apartment.square}">?</td>
                                </tr>
                                <tr>
                                    <td><b>Дом</b></td>
                                    <td th:text="${apartment.building.name}"></td>
                                </tr>
                                <tr>
                                    <td><b>Секция</b></td>
                                    <td th:text="${apartment.section}">?</td>
                                </tr>
                                <tr>
                                    <td><b>Этаж</b></td>
                                    <td th:text="${apartment.floor}">?</td>
                                </tr>
                                <tr>
                                    <td><b>Владелец</b></td>
                                    <td th:text="${apartment.owner.first_name}+ ' '+${apartment.owner.last_name}+' '+${apartment.owner.fathers_name}">?</td>
                                </tr>
                                <tr>
                                    <td><b>Тариф</b></td>
                                    <td th:if="${apartment.tariff != null}" th:text="${apartment.tariff.name}">?</td>
                                    <td th:if="${apartment.tariff == null}">--отсутствует--</td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="margin: 10px">
                                <a th:href="@{/admin/apartments/metersDataByApartment/{id}(id=${id})}">Посмотреть показания счетчиков</a><br>
                                <a th:href="@{/admin/apartments/incomesByApartmentAccount/{id}(id=${apartment.account.id})}">Посмотреть приходы</a><br>
                                <a th:href="@{/admin/apartments/invoicesByApartment/{id}(id=${id})}">Посмотреть квитанции</a><br>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.Main content -->


    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>


<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

</body>
</html>
