<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

</head>

<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<style>
    .select2-container .select2-selection--single {
        height: 38px;
    }
</style>

<div class="wrapper">


    <!-- navbar header/sidebar -->
    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header" style="padding-bottom: 0">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Квартиры</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active">Квартиры</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="row mr-2 mt-3" style="justify-content: flex-end">
                <div class="col-xs-12">
                    <div class="pull-right margin-bottom">
                        <a class="btn btn-success" th:href="@{/admin/apartments/new}">Добавить квартиру</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card card card-primary card-outline" style="padding: 0px; border-top-color: #bbbbbb;">
                    <div class="card-header" style="background-color: transparent;">
                        <div class="form-group">
                            <a href="#" onclick="reset()" class="btn btn-default btn-sm float-right">
                                Очистить</span><i class="fa fa-eraser visible-xs"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body mt-3" style="padding: 0">
                        <form method="POST" id="1" th:action="@{/admin/apartments/filter}" th:object="${filterForm}"
                              enctype="multipart/form-data">
                            <nav aria-label="Page navigation " class="pagination_container"></nav>
                            <table id="apartmentsTable" class="table table-bordered table-hover table-striped linkedRow"
                                   width="100%">
                                <col style="width:5%">
                                <col style="width:25%">
                                <col style="width:15%">
                                <col style="width:15%">
                                <col style="width:25%">
                                <col style="width:10%">
                                <col style="width:5%">
                                <thead>
                                <tr>
                                    <th>№ кв.</th>
                                    <th>Дом</th>
                                    <th>Секция</th>
                                    <th>Этаж</th>
                                    <th>Владелец</th>
                                    <th>Остаток</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th style="border-bottom:none"><input type="text" autocomplete="off" class="form-control" name="number"
                                               th:field="${filterForm.number}" id="number"></th>

                                    <th style="border-bottom:none"><select autocomplete="off" class="form-select" id="building" name="buildingName">
                                        <option value="-"
                                                th:selected="${filterForm.buildingName == null}"></option>
                                        <option th:each="building : ${buildings}"
                                                th:text="${building.name}"
                                                th:value="${building.name}"
                                                th:selected="${#strings.containsIgnoreCase((building.name),((filterForm.buildingName != null) ? (filterForm.buildingName ): ('empty') ))}"></option>
                                    </select></th>

                                    <th style="border-bottom:none"><select autocomplete="off" class="form-select" id="section" name="section">
                                        <option value="-" th:selected="${filterForm.section == null}"></option>
                                        <option th:each="section: ${sections}" th:text="${section}"
                                                th:value="${section}"
                                                th:selected="${#strings.containsIgnoreCase((section),((filterForm.section != null) ? (filterForm.section ): ('empty') ))}"
                                        ></option>
                                    </select></th>
                                    </select></th>
                                    <th style="border-bottom:none"><select autocomplete="off" class="form-select" id="floor" name="floor">
                                        <option value="-"
                                                th:selected="${(filterForm.floor == null)or(filterForm.floor.isEmpty())}"></option>
                                        <option th:each="floor : ${floors}" th:text="${floor}" th:value="${floor}"
                                                th:selected="${#strings.containsIgnoreCase(floor,(filterForm.floor != null  ? filterForm.floor : 'emp' ))}"
                                        ></option>

                                    </select></th>
                                    <th style="border-bottom:none">
<!--                                        <select class="form-control select2bs4" name="owner" style="width: 100%;">-->
<!--                                            <option value="0" th:selected="${filterForm.owner == null}"></option>-->
<!--                                            <option th:each="owner : ${owners}"-->
<!--                                                    th:text="${owner.first_name}+ ' '+${owner.last_name}+' '+${owner.fathers_name}"-->
<!--                                                    th:value="${owner.id}"-->
<!--                                                    th:selected="${#strings.containsIgnoreCase((owner.id),((filterForm.owner != null) ? (filterForm.owner ): ('emp') ))}"-->
<!--                                            ></option>-->
<!--                                        </select>-->

                                        <select id="mySelect2" name="owner" class="form-select">
                                            <option th:if="${filterForm.owner == null}" value="" selected="selected">Выберите пользователя</option>
                                            <option th:if="${filterForm.owner != null}" th:value="${filterForm.ownerEntity.id}" th:text="${filterForm.ownerEntity.getFullName()}"></option>

                                        </select>
                                    </th>
                                    <th style="border-bottom:none"><select class="form-select" id="debt" name="debtSting">
                                        <option th:selected="${filterForm.debtSting == null}" value="-"></option>
                                        <option value="haveDebt"
                                                th:selected="${#strings.containsIgnoreCase(('haveDebt'),((filterForm.debtSting != null) ? (filterForm.debtSting ): ('emp') ))}"
                                        >Есть долг
                                        </option>
                                        <option value="noDebt"
                                                th:selected="${#strings.containsIgnoreCase(('noDebt'),((filterForm.debtSting != null) ? (filterForm.debtSting ): ('emp') ))}">
                                            Нет долга
                                        </option>
                                    </select></th>
                                    <th style="border-bottom:none"></th>

                                </tr>
                                </thead>
                                <tbody>

<!--                                <tr th:each="apartment : ${apartments}">-->
<!--                                    <td><a style="display: block; color: black; text-decoration: none;"-->
<!--                                           th:text="${apartment.number}"-->
<!--                                           th:href="@{{id}(id=${apartment.id})}"></a></td>-->
<!--                                    <td><a style="display: block; color: black; text-decoration: none;"-->
<!--                                           th:if="${apartment.building != null}"-->
<!--                                           th:text="${apartment.building.name}"-->
<!--                                           th:href="@{{id}(id=${apartment.id})}"></a></td>-->
<!--                                    &lt;!&ndash;                th:text="${apartment.building.name}" th:href="@{{id}(id=${apartment.id})}"&ndash;&gt;-->
<!--                                    <td><a style="display: block; color: black; text-decoration: none;"-->
<!--                                           th:text="${apartment.section}"-->
<!--                                           th:href="@{{id}(id=${apartment.id})}"></a></td>-->
<!--                                    <td><a style="display: block; color: black; text-decoration: none;"-->
<!--                                           th:text="${apartment.floor}"-->
<!--                                           th:href="@{{id}(id=${apartment.id})}"></a></td>-->
<!--                                    <td><a style="display: block; color: black; text-decoration: none;"-->
<!--                                           th:if="${apartment.owner != null}"-->
<!--                                           th:text="${apartment.owner.first_name}+' '+${apartment.owner.last_name}+-->
<!--                ' '+${apartment.owner.fathers_name}" th:href="@{{id}(id=${apartment.id})}"></a></td>-->
<!--                                    <td><a style="display: block; color: black; text-decoration: none;"-->
<!--                                           th:text="${apartment.balance}"-->
<!--                                           th:href="@{{id}(id=${apartment.id})}"></a></td>-->
<!--                                    <td>-->
<!--                                        <div class="btn-group" role="group" aria-label="Basic outlined button group">-->
<!--                                            <a th:href="@{edit/{id}(id=${apartment.id})}"-->
<!--                                               class="btn btn-default btn-sm"><i class="fa fa-pencil"-->
<!--                                                                               aria-hidden="true"></i></i></a>-->
<!--                                            <a th:href="@{delete/{id}(id=${apartment.id})}"-->
<!--                                               class="btn btn-default btn-sm"><i class="fa fa-trash-o"-->
<!--                                                                               aria-hidden="true"></i></i></a>-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                </tr>-->
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                            <nav aria-label="Page navigation " class="pagination_container" th:if="${apartments.totalPages gt 1}">
<!--                                <ul class="pagination justify-content-center font-weight-medium">-->
<!--                                    <li class="page-item" th:classappend="${apartments.number eq 0} ? 'disabled'">-->
<!--                                        <a class="page-link" href="#"-->
<!--                                           onclick="function(){changePageNumber(1); drawApartmentsTable()}" aria-label="Previous">-->
<!--                                            <span aria-hidden="true">«</span>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li class="page-item" th:classappend="${apartments.number le 0} ? 'disabled'">-->
<!--                                        <a class="page-link" href="#"-->
<!--                                           onclick="function(){decreasePageByOne(); drawApartmentsTable()}" aria-label="Previous">-->
<!--                                            <span aria-hidden="true">‹</span>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--&lt;!&ndash;                                    <li class="page-item disabled" th:if="${apartments.number > 3 }">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a class="page-link" href="#">...&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--                                    <li class="page-item" th:classappend="${i eq apartments.number + 1} ? 'active'"-->
<!--                                        th:each="i : ${#numbers.sequence(( apartments.number > 2 ? apartments.number - 2: apartments.number - (apartments.number - 1) ), (apartments.number + 4 < apartments.totalPages   ? apartments.number + 4 : apartments.totalPages), 1)}">-->
<!--                                        <a class="page-link"-->
<!--                                           href="#" onclick="function(){changePageNumber(...); drawApartmentsTable()}"-->
<!--                                           th:text="${i}"-->
<!--                                           th:title="${'Page '+ i}"-->
<!--                                           rel="tooltip"></a></li>-->
<!--&lt;!&ndash;                                    <li class="page-item disabled"&ndash;&gt;-->
<!--&lt;!&ndash;                                        th:if="${apartments.number + 4 < apartments.totalPages}">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a class="page-link" href="#">...&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--                                    <li class="page-item"-->
<!--                                        th:classappend="${apartments.number ge apartments.totalPages - 2} ? 'disabled'">-->
<!--                                        <a class="page-link" href="#"-->
<!--                                           onclick="function(){decreasePageByOne(); drawApartmentsTable()}" aria-label="Next">-->
<!--                                            <span aria-hidden="true">›</span>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li class="page-item"-->
<!--                                        th:classappend="${apartments.number eq apartments.totalPages - 1} ? 'disabled'">-->
<!--                                        <a class="page-link" href="#"-->
<!--                                           onclick="function(){changePageNumber(...); drawApartmentsTable()}" aria-label="Previous">-->
<!--                                            <span aria-hidden="true">↣</span>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <div class="btn-group">-->
<!--                                        <button type="button"-->
<!--                                                class="btn btn-primary btn-sm dropdown-toggle page-size-display" data-bs-toggle="dropdown"-->
<!--                                                aria-expanded="false">-->

<!--                                        </button>-->
<!--                                        <ul class="dropdown-menu dropdown-menu-end">-->
<!--                                            <li><a class="dropdown-item" href="#" onclick="function(){changePageSize(5); drawApartmentsTable()}">5</a></li>-->
<!--                                            <li><a class="dropdown-item" href="#" onclick="changePageSize(10)">10</a></li>-->
<!--                                            <li><a class="dropdown-item" href="#" onclick="changePageSize(25)">25</a></li>-->
<!--                                            <li><a class="dropdown-item" href="#" onclick="changePageSize(50)">50</a></li>-->
<!--                                            <li><a class="dropdown-item" href="#" onclick="changePageSize(100)">100</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </ul>-->
                            </nav>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </section>
    </div>
    <!-- /.Main content -->


    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>

<script>
    let timeoutId;

    function handleFormSubmit() {
        const form = document.getElementById('1');
        form.submit();
        console.log("Форма отправлена!");
    }

    function handleInputChange() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(handleFormSubmit, 3000);
    }

    // event listener on field
    const input = document.querySelector('input[type="text"]');
    input.addEventListener('input', handleInputChange);

    // event on Enter
    document.addEventListener('keydown', function (event) {
        if (event.key === "Enter") {
            handleFormSubmit();
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>
<script src="../../plugins/select2/js/select2.full.min.js"></script>

<!-- select2 filter script -->
<script>
    $(document).ready(function() {

        $("#building, #section, #floor, #debt").select2({placeholder:'Выберите...', minimumResultsForSearch:Infinity});

        $('#mySelect2').select2({
            ajax: {
                url: '/admin/apartments/getUsers',
                // dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        searchQuerie: params.term,
                        page: params.page || 0,
                        size: params.page ? 2 : 4
                    };
                },
                processResults: function(data, params) {
                    console.log(data)
                    params.page = params.page || 0;
                    var results = $.map(data.content, function(owner) {
                        return {id: owner.id,
                            text: owner.first_name + ' ' + owner.last_name + ' ' + owner.fathers_name,
                        };
                    });
                    return {
                        results: results,
                        pagination: {
                            more: data.pageable.pageNumber + 1 < data.totalPages
                        }
                    };
                },
                cache: true
            },
            placeholder: '',
            minimumInputLength: 2,
            allowClear: false,
            templateSelection: function(selection) {
                return selection.text;

            },

        });
    });
</script>

<!-- general pagination script -->
<script th:src="@{/dist/js/pagination.js}"></script>

<!-- page-specific pagination script -->
<script>

    let tableData;

    let totalPagesCount = [[${totalPagesCount}]];

    let globalTableName = 'apartments';

    console.log('total page count for apartments is ' + totalPagesCount);

    $(document).ready(function(){

        drawTable();

    });

</script>

<style>
    a.page-link {
        width: 42px;
        text-align: center;
    }
</style>

<!--&lt;!&ndash; DataTables  & Plugins &ndash;&gt;-->
<!--<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>-->
<!--<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>-->
<!--<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>-->
<!--<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>-->
<!--<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>-->
<!--<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>-->
<!--<script src="../../plugins/jszip/jszip.min.js"></script>-->
<!--<script src="../../plugins/pdfmake/pdfmake.min.js"></script>-->
<!--<script src="../../plugins/pdfmake/vfs_fonts.js"></script>-->
<!--<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>-->
<!--<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>-->
<!--<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>-->

<!--<script>-->
<!--    $(function () {-->
<!--        $("#example1").DataTable({-->
<!--            "responsive": true, "lengthChange": false, "autoWidth": false,-->
<!--            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]-->
<!--        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');-->
<!--        $('#example2').DataTable({-->
<!--            "paging": true,-->
<!--            "lengthChange": false,-->
<!--            "searching": false,-->
<!--            "ordering": true,-->
<!--            "info": true,-->
<!--            "autoWidth": false,-->
<!--            "responsive": true,-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>
