<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


  <!-- navbar header/sidebar -->
  <div th:insert="~{main-template :: loading}"></div>
  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>
  <!-- /.navbar header/sidebar -->

  <!--content-header -->
  <div class="content-wrapper">
      <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Квартиры</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
              <li class="breadcrumb-item active">Квартиры</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="card" style="padding: 10px">
          <div class="form-group">
            <a th:href="@{/admin/apartments/new}" class="btn btn-success btn-sm float-right">Добавить квартиру</a>
          </div>
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover" width="100%">
              <col style="width:5%">
              <col style="width:25%">
              <col style="width:15%">
              <col style="width:15%">
              <col style="width:25%">
              <col style="width:10%">
              <col style="width:5%">
              <thead>
              <tr>
                <th>№ квартиры</th>
                <th>Дом</th>
                <th>Секция</th>
                <th>Этаж</th>
                <th>Владелец</th>
                <th>Остаток</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="apartment : ${apartments}">
                <td ><a style="display: block; color: black;" th:text="${apartment.number}" th:href="@{{id}(id=${apartment.id})}"></a></td>
                <td ><a style="display: block; color: black;" th:if="${apartment.building != null}" th:text="${apartment.building.name}" th:href="@{{id}(id=${apartment.id})}" ></a></td>
<!--                th:text="${apartment.building.name}" th:href="@{{id}(id=${apartment.id})}"-->
                <td ><a style="display: block; color: black;" th:text="${apartment.section}" th:href="@{{id}(id=${apartment.id})}"></a></td>
                <td ><a style="display: block; color: black;" th:text="${apartment.floor}" th:href="@{{id}(id=${apartment.id})}"></a></td>
                <td ><a style="display: block; color: black;" th:if="${apartment.owner != null}" th:text="${apartment.owner.first_name}+' '+${apartment.owner.last_name}+
                ' '+${apartment.owner.fathers_name}" th:href="@{{id}(id=${apartment.id})}"></a></td>
                <td ><a style="display: block; color: black;" th:text="${apartment.balance}" th:href="@{{id}(id=${apartment.id})}"></a></td>
                <td><div class="btn-group" role="group" aria-label="Basic outlined button group">
                  <a th:href="@{edit/{id}(id=${apartment.id})}" class="btn btn-secondary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></i></a>
                  <a th:href="@{delete/{id}(id=${apartment.id})}" class="btn btn-secondary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></i></a>
                </div></td>
              </tr>
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
    </section>
  </div>
  <!-- /.Main content -->


  <!-- Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
  <!-- /.Footer -->
</div>


<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
