<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/datepicker.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Заявки вызова мастера</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>  Главная</a></li>
                            <li class="breadcrumb-item active">Заявки вызова мастера</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="page_content">
            <div class="row mr-2" style="justify-content: flex-end">
                <div class="col-xs-12">
                    <div class="pull-right margin-bottom">
                        <a class="btn btn-success" th:href="@{/admin/requests/create}">Добавить заявку</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box" style="padding:0;">
                            <div class="box-header with-border" style="padding-block: 15px;">
                                <h3 class="box-title"></h3>
                                <div class="box-tools">
                                    <a href="/admin/user-admin/index" class="btn btn-default btn-sm">
                                        <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table class="table table-bordered table-hover table-striped linkedRow">
                                    <thead>
                                    <tr>
                                        <th style="width: 100px; min-width: 100px">
                                            № заявки
                                        </th>
                                        <th style="width: 135px; min-width: 135px">
                                            Удобное время
                                        </th>
                                        <th style="min-width: 125px">
                                            Тип мастера
                                        </th>
                                        <th style="min-width: 350px">Описание</th>
                                        <th>Квартира</th>
                                        <th style="min-width: 200px">Владелец</th>
                                        <th>Телефон</th>
                                        <th style="min-width: 125px">Мастер</th>
                                        <th style="width: 135px; min-width: 135px">Статус</th>
                                        <th style="width: 80px; min-width: 80px">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px">
                                            <input style="width: 100%; padding-block: 10px; border: 0.5px solid silver;" type="text">
                                        </td>
                                        <td style="padding: 10px; min-width: 220px;">
<!--                                            <input style="width: 100%; padding-block: 10px; border: 0.5px solid silver;" type="date">-->
<!--                                            <input type="text" id="best_time_datepicker">-->
                                            <div class="input-group" id="datetimepicker1" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                                <input id="datetimepicker1Input" style="padding-block: 21px" type="text" class="form-control" data-td-target="#datetimepicker1">
                                                <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td style="padding: 10px">
                                            <select style="width: 100%; padding-block: 10px">
                                                <option value=""></option>
                                                <option th:each="master_type : ${T(com.example.myhome.home.model.RepairMasterType).values()}"
                                                        th:value="${master_type}"
                                                        th:text="${master_type.getName()}"></option>
                                            </select>
                                        </td>
                                        <td style="padding: 10px">
                                            <input style="width: 100%; padding-block: 10px; border: 0.5px solid silver;" type="text">
                                        </td>
                                        <td style="padding: 10px">
                                            <input style="width: 100%; padding-block: 10px; border: 0.5px solid silver;" type="text">
                                        </td>
                                        <td style="padding: 10px">
                                            <select style="width: 100%; padding-block: 10px">
                                                <option value=""></option>
                                                <option th:each="owner : ${owners}"
                                                        th:value="${owner.id}"
                                                        th:text="${owner.getFullName()}"></option>
                                            </select>
                                        </td>
                                        <td style="padding: 10px">
                                            <input style="width: 100%; padding-block: 10px; border: 0.5px solid silver;" type="text">
                                        </td>
                                        <td style="padding: 10px">
                                            <select style="width: 100%; padding-block: 10px">
                                                <option value=""></option>
                                                <option th:each="master : ${masters}"
                                                        th:value="${master.id}"
                                                        th:text="${master.getFullName()}"></option>
                                            </select>
                                        </td>
                                        <td style="padding: 10px">
                                            <select style="width: 100%; padding-block: 10px">
                                                <option value=""></option>
                                                <option th:each="stat : ${T(com.example.myhome.home.model.RepairStatus).values()}"
                                                        th:value="${stat}"
                                                        th:text="${stat.getName()}"></option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer;" class="request" th:each="request : ${requests}">
                                            <td th:text="${request.id}"></td>
                                            <td th:text="${#temporals.format(request.best_time_request, 'yyyy-MM-dd - HH:mm')}"></td>
                                            <td th:text="${request.master_type.getName()}"></td>
                                            <td th:text="${request.description}"></td>
                                            <td><a th:href="@{/admin/apartments/{id}(id=${request.apartment.id})}" th:text="'кв. ' + ${request.apartment.number} + ', ' + ${request.apartment.building.name}"></a></td>
                                            <td><a th:href="@{/admin/owners/{id}(id=${request.apartment.owner.id})}" th:text="${request.apartment.owner.getFullName()}"></a></td>
                                            <td th:text="${request.apartment.owner.phone_number}"></td>
                                            <td><a th:href="@{/admin/admins/{id}(id=${request.master.id})}" th:text="${request.master.getFullName()}"></a></td>
                                            <td><small class="label"
                                                       th:classappend="${request.status == T(com.example.myhome.home.model.RepairStatus).ACCEPTED ?
                                                       'label-primary' : request.status == T(com.example.myhome.home.model.RepairStatus).IN_WORK ?
                                                       'label-warning' : 'label-success'}" th:text="${request.status.getName()}"></small></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-sm" th:href="@{/admin/requests/update/{id}(id=${request.id})}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                    <a class="btn btn-default btn-sm" th:href="@{/admin/requests/delete/{id}(id=${request.id})}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<!--<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    let request_rows = document.getElementsByClassName("request");
    for(let i = 0; i < request_rows.length; i++) {
        let request_row_cells = request_rows[i].children;
        let request_id = request_rows[i].children[0].innerText;
        console.log(request_rows[i].children[0]);
        console.log(request_id);
        for(let j = 0; j < request_row_cells.length-1; j++) {
            request_row_cells[j].addEventListener('click', function(){
                window.location.href = '/admin/requests/info/' + request_id;
            });
        }
    }

    const datetimepicker1 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
</script>

<!-- PAGE PLUGINS -->
<!--&lt;!&ndash; jQuery Mapael &ndash;&gt;-->
<!--<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>-->
<!--<script src="plugins/raphael/raphael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script src="plugins/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script th:src="@{/dist/js/demo.js}"></script>-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/dist/js/pages/dashboard2.js}"></script>-->
</body>
</html>
