<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{myHome24}">МойДом24</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="#{ownerPrifile}"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" th:text="#{homePage}"></i>  </a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/owners}" th:text="#{apartmentsOwners}">Владельцы квартир</a></li>
                            <li class="breadcrumb-item active" th:text="#{ownerPrifile}">Профиль владельца</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card" style="padding: 10px">
                    <div class="form-group">
                        <a th:href="@{edit/{id}(id=${id})}" class="btn btn-primary btn-sm float-right"
                           style="margin-left: 2px"><h7 th:text="#{editProfile}"></h7> <i class="fa fa-pencil visible-xs" aria-hidden="true"></i></a>
                        <a class="btn btn-default btn-sm float-right" style="margin-left: 2px" th:text="#{toCabinet}">Перейти в кабинет</a>
                    </div>
                    <div class="card">
                        <div class="card-body p-0">
                            <div style="height: 200px; padding: 10px;" >
                                 <img th:src="${owner.profile_picture != null && !owner.profile_picture.isEmpty()} ?
                                 @{${owner.profile_picture}} :  @{/images/placeholder.jpg}" alt="user-avatar"
                                      style="height: 100%"         class="img-circle img-fluid">
                            </div>
                            <table class="table table-bordered table-striped" width="100%">
                                <col style="width:50%">
                                <col style="width:50%">
                                <tbody>
                                <tr>
                                    <td><b th:text="#{status}">Статус</b></td>
                                    <td th:text="${owner.status}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{id}">ID</b></td>
                                    <td th:text="${owner.id}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{lastName}">Фамилия</b></td>
                                    <td th:text="${owner.first_name}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{firstName}">Имя</b></td>
                                    <td th:text="${owner.last_name}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{fathersName}">Отчество</b></td>
                                    <td th:text="${owner.fathers_name}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{birthDate}">Дата рождения</b></td>
                                    <td th:text="${owner.birthdate}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{aboutOwner}">О владельце (заметки)</b></td>
                                    <td th:text="${owner.description}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{phonenumber}">Телефон</b></td>
                                    <td th:text="${owner.phone_number}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{viber}">Viber</b></td>
                                    <td th:text="${owner.viber}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{telegram}">Telegram</b></td>
                                    <td th:text="${owner.telegram}">?</td>
                                </tr>
                                <tr>
                                    <td><b th:text="#{email}">Email</b></td>
                                    <td th:text="${owner.email}">?</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.Main content -->


    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>


<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

</body>
</html>
