<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/datepicker.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <div th:insert="~{cabinet-template :: loading}"></div>
  <nav th:insert="~{cabinet-template :: header}"></nav>
  <aside th:insert="~{cabinet-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" th:text="${apart != null ? 'Квитанции на оплату '+apart.building.name+' кв. ' + apart.number :'Квитанции на оплату'}"></h1>
          </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>  Главная</a></li>
                    <li class="breadcrumb-item active">Квитанции на оплату</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">

      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="box" style="padding:0;">
                      <div class="box-header with-border" style="padding-block:15px;">
                          <h3 class="box-title"></h3>
                          <div class="box-tools">
                              <a href="#" onclick="reset()" class="btn btn-default btn-sm">
                                  <span class="hidden-xs">Очистить </span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                              </a>
                          </div>
                      </div>
                      <div class="box-body table-responsive">
                          <div>
                              <table class="table table-bordered table-hover table-striped linkedRow" id="invoicesTable">
                                  <thead>
                                      <tr>
                                          <th>№</th>
                                          <th>Дата</th>
                                          <th>Статус</th>
                                          <th>Сумма</th>
                                      </tr>
                                      <tr class="filters">
                                          <td></td>
                                          <td><input type="date" class="my_filters"  id="date" name="date" style="width:100%; padding-block: 10px;"></td>
                                          <td>
                                              <select class="my_filters" id="status" name>
                                                  <option value="">Выберите...</option>
                                                  <option th:each="status : ${T(com.example.myhome.home.model.InvoiceStatus).values()}"
                                                          th:value="${status}"
                                                          th:text="${status.name}"></option>
                                              </select>
                                          </td>
                                          <td></td>
                                      </tr>
                                      </thead>
                                  <tbody>
<!--                                      <tr class="invoice_row" data-href="/cabinet/invoice/734" data-key="734" th:each="invoice : ${invoiceList}">-->

<!--                                          <td><a style="display: block; color: black; text-decoration: none;" th:text="${T(java.lang.String).format('%010d',invoice.id)}"-->
<!--                                          th:href="@{/cabinet/invoice/{id}(id=${invoice.id})}"></a></td>-->

<!--                                          <td><a style="display: block; color: black; text-decoration: none;" th:text="${invoice.date}"-->
<!--                                              th:href="@{/cabinet/invoice/{id}(id=${invoice.id})}"></a></td>-->

<!--                                          <td th:text="${invoice.status}"><small class="label label-danger"></small></td>-->

<!--                                          <td><a style="display: block; color: black; text-decoration: none;" th:text="${invoice.total_price}"-->
<!--                                              th:href="@{/cabinet/invoice/{id}(id=${invoice.id})}"></a></td></tr>-->
                                  </tbody>
                              </table>
                              <nav aria-label="Page navigation " class="pagination_container"></nav>
                          </div>
                      </div>
                      <div class="box-footer clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
    </section>

  </div>

  <footer th:insert="~{cabinet-template :: footer}"></footer>
</div>

<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script th:src="@{/dist/js/pagination.js}"></script>

<script>
    $(document).ready(function(){
        $("#status").select2({minimumResultsForSearch: Infinity });
        $("#date_picker").datepicker();

        let rows = document.getElementsByClassName("invoice_row");
        for(const row of rows) {
            row.style.cursor = 'pointer';
            row.addEventListener('click', () => {
                window.location.href = '/cabinet/invoices/1'
            });
        }
    });
</script>

<script th:inline="javascript">

    let globalTableName = 'invoicesInCabinet';
    let totalPagesCount = [[${totalPagesCount}]];
    let tableData;

    $(document).ready(function(){

        drawTable();

    });

</script>

</body>
</html>
