<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{messages}">МойДом24</title>
    <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/css/tempus-dominus.min.css"
          crossorigin="anonymous">
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/js/tempus-dominus.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <div th:insert="~{cabinet-template :: loading}"></div>
    <nav th:insert="~{cabinet-template :: header}"></nav>
    <aside th:insert="~{cabinet-template :: sidebar}"></aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="#{messages}">Сообщения</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/cabinet/}"><i class="fa fa-home"
                                                                                     th:text="' '+#{homePage}"></i></a>
                            </li>
                            <li class="breadcrumb-item active" th:text="#{messages}">Сообщения</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline" style="border-top-color: #999999">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" th:field="${filterForm.description}" id="description"
                                       class="form-control" placeholder="Поиск">
                                <div class="input-group-append">
                                    <!--                        поиск-->
                                    <div class="btn btn-primary" onclick="changeFilterData()">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="mailbox-controls">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                    class="far fa-square"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"
                                        disabled="" id="deleteButton1" th:onclick="'deleteSelected()'">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" id="messageTable" width="100%">
                                <col style="width:5%">
                                <col style="width:25%">
                                <col style="width:50%">
                                <col style="width:20%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th th:text="#{sender}">Отправитель</th>
                                    <th th:text="#{text}">Текст</th>
                                    <th th:text="#{date}">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--                                <tr th:each="message : ${messages}" id="myList">-->
                                <!--                                    <td>-->
                                <!--                                        <div class="icheck-primary">-->
                                <!--                                            <input type="checkbox" th:value="${message.id}" name="check1" value=""-->
                                <!--                                                   id="check1">-->
                                <!--                                            <label for="check1"></label>-->
                                <!--                                        </div>-->
                                <!--                                    </td>-->

                                <!--                                    <td class="mailbox-name"><a style="display: block; color: black;"-->
                                <!--                                                                th:text="${message.sender.first_name+' '+message.sender.last_name}"-->
                                <!--                                                                th:href="@{{id}(id=${message.id})}"></a>-->
                                <!--                                    </td>-->

                                <!--                                    <td class="mailbox-subject"><b th:text="${message.subject}+' - '"></b><a-->
                                <!--                                            style="display: block; color: black;"-->
                                <!--                                            th:utext="${message.text}" th:href="@{{id}(id=${message.id})}"></a>-->
                                <!--                                    </td>-->

                                <!--                                    <td class="mailbox-date" th:text="${message.date}"-->
                                <!--                                        th:href="@{{id}(id=${message.id})}">-->

                                <!--                                    </td>-->
                                <!--                                </tr>-->
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation " class="pagination_container"></nav>
                        </div>
                    </div>
                    <div class="card-footer p-0">
                        <div class="mailbox-controls">

                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="far fa-square"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"
                                        disabled="" id="deleteButton2" th:onclick="'deleteSelected()'">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <!-- /.card -->

            </div>
        </section>

    </div>

    <footer th:insert="~{cabinet-template :: footer}"></footer>
</div>

<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>
<script src="../../dist/js/adminlte.min.js"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>
    // disable delete button
    const deleteButton1 = document.getElementById('deleteButton1');
    const deleteButton2 = document.getElementById('deleteButton2');

    function checkCheckboxes() {
        const checkboxes = document.querySelectorAll('#messageTable input[type="checkbox"]');
        const selectedCheckboxes = [];
        checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedCheckboxes.push(checkbox);
            }
        });
        console.log('selectedCheckboxes.length' + selectedCheckboxes.length);
        if (selectedCheckboxes.length === 0) {
            deleteButton1.disabled = true;
            deleteButton2.disabled = true;
        } else {
            deleteButton1.disabled = false;
            deleteButton2.disabled = false;
        }
    }
</script>
<script>
    $(function () {
        //Enable check and uncheck all functionality
        $('.checkbox-toggle').click(function () {
            var clicks = $(this).data('clicks')
            if (clicks) {
                //Uncheck all checkboxes
                $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
            } else {
                //Check all checkboxes
                $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
            }
            $(this).data('clicks', !clicks)
        })

        $('.mailbox-star').click(function (e) {
            e.preventDefault()
            //detect type
            var $this = $(this).find('a > i')
            var fa = $this.hasClass('fa')

            //Switch states
            if (fa) {
                $this.toggleClass('fa-star')
                $this.toggleClass('fa-star-o')
            }
        })
    })
</script>
<script th:inline="javascript">
    function deleteSelected() {
        var result = confirm("Подтвердите удаление");
        if (result) {
            var url = "/cabinet/message/deleteSelected";
            const checkedBoxes = document.querySelectorAll('input[type="checkbox"]:checked');
            var ids = [];
            checkedBoxes.forEach((box) => {
                ids.push(box.value);
            });

            $.ajax({
                url: url,
                method: 'GET',
                traditional: true,
                data: {checkboxList: ids},
                success: function () {
                    drawTable();
                }
            });
        }
    }
</script>
<script th:src="@{/dist/js/pagination.js}"></script>
<script th:inline="javascript">

    let globalTableName = 'messagesCabinet';
    let totalPagesCount = [[${totalPagesCount}]];
    var unreadMessId = [[${unreadMessagesId}]];
    let tableData;
    $(document).ready(function () {
        drawTable();
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
        integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--<script th:src="@{/dist/js/websocketCabinet.js}"></script>-->
</body>
</html>
