<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{new}">МойДом24</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/css/tempus-dominus.min.css"
          crossorigin="anonymous">
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/js/tempus-dominus.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <div th:insert="~{cabinet-template :: loading}"></div>
    <nav th:insert="~{cabinet-template :: header}"></nav>
    <aside th:insert="~{cabinet-template :: sidebar}"></aside>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="#{profile}">Профиль</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" th:text="#{homePage}"></i></a></li>
                            <li class="breadcrumb-item active" th:text="#{profile}">Профиль</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="page_content">

            <div class="container-fluid">
                <section class="content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <div class="box">
                                        <div class="box-body box-profile">
                                            <img class="profile-user-img img-responsive img-circle"
                                                 style="width: 100px; height: 100px; padding-bottom: 0px; margin-left: 35%;"
                                                 th:src="${owner.profile_picture != null && !owner.profile_picture.isEmpty()} ?
                                                @{${owner.profile_picture}} :  @{/images/placeholder.jpg}"  alt="Аватар">

                                            <h3 class="profile-username text-center"
                                                th:text="${owner.getFullName()}"></h3>

                                            <p class="text-muted text-center" th:text="#{apartmentOwner}">Владелец квартиры</p>

                                            <ul class="list-group list-group-unbordered">
                                                <li class="list-group-item">
                                                    <span th:text="#{phonenumber}">Телефон</span>
                                                    <span class="pull-right" th:text="${owner.phone_number}"></span>
                                                </li>
                                                <li class="list-group-item">
                                                    <span th:text="#{viber}">Viber</span>
                                                    <span class="pull-right" th:text="${owner.viber}"></span>
                                                </li>
                                                <li class="list-group-item">
                                                    <span th:text="#{telegram}">Telegram</span>
                                                    <span class="pull-right" th:text="${owner.telegram}"></span>
                                                </li>
                                                <li class="list-group-item">
                                                    <span th:text="#{email}">Email</span>
                                                    <span class="pull-right" th:text="${owner.email}"></span>
                                                </li>
                                            </ul>

                                            <a th:href="@{/cabinet/user/edit}" class="btn btn-primary btn-block" th:text="#{edit}">Изменить</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <h3 class="page-header" th:text="#{aboutMe}">Обо мне (заметки)</h3>
                                    <div class="box">
                                        <div class="box-body box-profile" th:text="${owner.description != null and !owner.description.isEmpty()} ? owner.description : #{fieldIsEmpty}"></div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <h2 class="page-header" th:text="#{myApartments}">Мои квартиры</h2>
                            <div th:each="apartment : ${owner.apartments} ">
                                <div class="box" style="margin-bottom: 20px">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" th:text="#{apaprtmentDescription}">Описание квартиры</h3>
                                    </div>
                                    <div class="box-body">
                                        <p th:text="${apartment.building.name+'. '+apartment.building.address+', кв. '+ apartment.number}"></p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <img class="img-fluid" th:src="${apartment.building.img1 != null && !apartment.building.img1.isEmpty()} ?
                                                @{${apartment.building.img1}} :  @{/images/placeholder.jpg}"
                                                 alt="">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img class="img-fluid mb-3" th:src="${apartment.building.img2 != null && !apartment.building.img2.isEmpty()} ?
                                                    @{${apartment.building.img2}} :  @{/images/placeholder.jpg}"
                                                             alt="">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img class="img-fluid mb-3" th:src="${apartment.building.img3 != null && !apartment.building.img3.isEmpty()} ?
                                                        @{${apartment.building.img3}} :  @{/images/placeholder.jpg}"
                                                         alt="">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img class="img-fluid mb-3" th:src="${apartment.building.img4 != null && !apartment.building.img4.isEmpty()} ?
                                                        @{${apartment.building.img4}} :  @{/images/placeholder.jpg}"
                                                         alt="">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img class="img-fluid mb-3" th:src="${apartment.building.img5 != null && !apartment.building.img5.isEmpty()} ?
                                                         @{${apartment.building.img5}} :  @{/images/placeholder.jpg}"
                                                          alt="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th colspan="2" th:text="#{description}">Описание</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th style="min-width: 200px; font-weight:normal;" th:text="#{nameOfBuilding}">Название дома</th>
                                                    <th th:text="${apartment.building.name}" style="font-weight:normal;"></th>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{address}">Адрес</td>
                                                    <td th:text="${apartment.building.address}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{apartmentNumber}">№ квартиры</td>
                                                    <td th:text="${apartment.number}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{square}">Площадь</td>
                                                    <td th:text="${apartment.square}+'m'"><sup>2</sup>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{floor}">Этаж</td>
                                                    <td th:text="${apartment.floor}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{section}">Секция</td>
                                                    <td th:text="${apartment.section}"></td>
                                                </tr>
                                                <tr>
                                                    <td th:text="#{apartmentAccount}">Лицевой счет</td>
                                                    <td th:text="${T(java.lang.String).format('%010d',apartment.account.id)}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <footer th:insert="~{cabinet-template :: footer}"></footer>
</div>

<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
</script>

</body>
</html>
