<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <div th:if="${page == 1}" th:insert="~{main-template :: loading}"></div>
  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Счётчики</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item active">Счётчики</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="row mr-2" style="justify-content: flex-end">
        <div class="col-xs-12">
          <div class="pull-right margin-bottom">
            <a class="btn btn-success" th:href="@{/admin/meters/create}">Добавить показание</a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="box" style="padding:0;">
              <div class="box-header with-border" >
                <h3 class="box-title"></h3>
                <div class="box-tools">
                  <a th:href="@{/admin/meters}" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="box-body table-responsive">
                <nav aria-label="Page navigation " class="pagination_container mt-3"></nav>
                <table id="metersTable" class="table table-bordered table-hover table-striped linkedRow">
                  <thead>
                  <tr>
                    <th style="min-width: 200px">Дом</th>
                    <th style="min-width: 160px">Секция</th>
                    <th style="width: 110px; min-width: 110px">№ квартиры</th>
                    <th>Счетчик</th>
                    <th style="width: 90px; min-width: 90px">Текущие показания</th>
                    <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                    <th style="width: 85px; min-width: 85px">&nbsp;</th>
                  </tr>
                  <form action="" th:object="${filter_form}">
                      <tr>
                          <td style="padding: 10px">
                              <select style="width: 100%; padding-block: 10px" th:field="*{building}" class="my_filters" name="building_filter" id="building">
                                  <option value=""></option>
                                  <option th:each="building : ${buildings}"
                                          th:value="${building.id}"
                                          th:text="${building.name}"></option>
                              </select>
                          </td>
                          <td style="padding: 10px">
                              <select th:if="*{building == 0}" disabled style="width: 100%; padding-block: 10px" class="my_filters" th:field="*{section}" name="section_filter" id="section">
                                  <option value="0" >Выберите дом...</option>
                              </select>
                              <select th:if="*{building != 0}" style="width: 100%; padding-block: 10px" class="my_filters" th:field="*{section}" name="section_filter" id="section">
                                  <option value="">Выберите...</option>
                                  <option th:each="section : ${sections}" th:value="${section}" th:text="${section}"></option>
                              </select>
                          </td>
                          <td style="padding: 10px">
                              <input style="width: 100%; padding-block: 10px; border: 0.5px solid silver;" class="my_filters" th:field="*{apartment}" type="text" name="apartment_filter" id="apartment">
                          </td>
                          <td style="padding: 10px">
                              <select style="width: 100%; padding-block: 10px" class="my_filters" th:field="*{service}" name="service_filter" id="service">
                                  <option value="0"></option>
                                  <option th:each="service : ${services}"
                                          th:value="${service.id}"
                                          th:text="${service.name}"></option>
                              </select>
                          </td>
                          <td></td>
                          <td></td>
                      </tr>
                  </form>
                  </thead>
                  <tbody>

                  </tbody>

                </table>
                  <nav aria-label="Page navigation " class="pagination_container"></nav>
              </div>
              <div class="box-footer clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

    <style>
        a.selected {
            background-color: rgba(0, 179, 255, 0.4);
            color: white;
            cursor: initial;
            caret-color:transparent;
        }

        a.selected:hover {
            background-color: rgba(0, 179, 255, 0.4);
            color: white;
        }

        a.page-link {
            width: 42px;
            text-align: center;
        }
    </style>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script th:src="@{/dist/js/pagination.js}"></script>

<script th:inline="javascript">

    let globalTableName = 'meters';
    let totalPagesCount = [[${totalPagesCount}]];
    let tableData;
    let currentPageNumber = 1;
    let currentPageSize = 10;

    $(document).ready(function(){

        drawTable();

    });

</script>

<script th:inline="javascript">

    // ФИЛЬТРЫ
    $(document).ready(function(){

        $("#section, #service").select2({placeholder: 'Выберите...', minimumResultsForSearch:Infinity});

        $("#building").select2({
            ajax: {
                url: '/admin/buildings/get-buildings',
                data: function(params){
                    console.log(params.page);
                    return {
                        search: params.term || "",
                        page: params.page || 1
                    }
                },
            },
            placeholder: 'Выберите...'
        });

    });
</script>

</body>
</html>
