<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Квитанция</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/invoices}">Квитанции</a></li>
              <li class="breadcrumb-item active">Квитанция №<span th:text="${T(java.lang.String).format('%010d', invoice.id)}"></span></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-3">
            <span style="display:inline;">№ </span>
            <input type="hidden" disabled id="id">
            <input style="width: 90%; display:inline; caret-color:transparent;" disabled class="form-control"
                th:value="${T(java.lang.String).format('%010d',invoice.id)}">
          </div>
          <div class="col-md-3">
            <span style="display:inline;">от </span>
            <input style="width: 90%; display:inline;" disabled th:value="${invoice.date}" class="form-control">
          </div>
          <div class="col-md-6"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="box" style="caret-color:transparent; padding:0; padding-inline: 10px;">
              <div class="box-header with-border" style="padding-top: 15px; padding-bottom: 15px;">
                <h3 class="box-title" style="margin: 0; padding: 0">Просмотр квитанции</h3>
                <div class="box-tools">
                  <a th:href="@{/admin/invoices/print/{id}(id=${invoice.id})}" class="btn btn-default btn-sm">
                    <span class="hidden-xs"> Печать </span>
                  </a>
                  <a href="" class="btn btn-default btn-sm">
                    <i class="fa fa-files visible-xs" aria-hidden="true"></i><span class="hidden-xs"> Отправить на e-mail </span>
                  </a>
                  <a th:href="@{/admin/invoices/update/{id}(id=${invoice.id})}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs"> Редактировать квитанцию </span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12 col-lg-4">
                    <table class="table table-bordered table-striped table-view">
                      <tbody>
                      <tr>
                        <td style="font-weight:bold">Проведена</td>
                        <td>
                          <small class="label label-success" th:if="${invoice.completed}">Проведена</small>
                          <small class="label label-danger" th:if="${!invoice.completed}">Не проведена</small>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Статус</td>
                        <td>
                          <small th:class="'label ' +
                            ${invoice.status == T(com.example.myhome.home.model.InvoiceStatus).PAID ? 'label-success' :
                            (invoice.status == T(com.example.myhome.home.model.InvoiceStatus).UNPAID) ? 'label-danger' : 'label-warning'}"
                                 th:text="${invoice.status.getName()}"></small>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Период</td>
                        <td th:text="${invoice.dateFrom} + ' - ' + ${invoice.dateTo}"></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Владелец</td>
                        <td ><a th:href="@{/owners/{id}(id=${invoice.apartment.owner.id})}"
                                th:text="${invoice.apartment.owner.getFullName()}"></a></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Лицевой счёт</td>
                        <td ><a th:if="${invoice.apartment.account != null}"
                                th:href="@{/admin/accounts/{id}(id=${invoice.apartment.account.id})}"
                                th:text="${T(java.lang.String).format('%010d', invoice.apartment.account.id)}"></a>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Телефон</td>
                        <td th:text="${invoice.apartment.owner.phone_number}"></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Дом</td>
                        <td><a th:href="@{/buildings/{id}(id=${invoice.apartment.building.id})}" th:text="${invoice.apartment.building.name}"></a></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Секция</td>
                        <td th:text="${invoice.apartment.section}"></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Квартира</td>
                        <td><a th:href="@{/apartments/{id}(id=${invoice.apartment.id})}" th:text="${invoice.apartment.number}"></a></td>
                      </tr>
                      <tr>
                        <td style="font-weight:bold">Тариф</td>
                        <td><a th:href="@{/admin/tariffs/{id}(id=${invoice.tariff.id})}" th:text="${invoice.tariff.name}"></a></td>
                      </tr>
                      </tbody>
                    </table>


                  </div>

                  <div class="col-xs-12 col-lg-12">
                    <table class="table table-bordered table-striped table-view">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Услуга</th>
                        <th>Ед.изм</th>
                        <th>Цена за ед., грн</th>
                        <th>Количество потребления(расход)</th>
                        <th>Стоимость, грн.</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="component, iter : ${invoice.components}">
                        <td th:text="${iter.index+1}"></td>
                        <td th:text="${component.service.name}"></td>
                        <td th:text="${component.service.unit.name}"></td>
                        <td th:text="${component.unit_price}"></td>
                        <td th:text="${component.unit_amount}"></td>
                        <td th:text="${component.getTotalPrice()}"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span style="font-weight: bold" th:text="'Итого: ' + ${total_price}"></span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<!--<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

<!-- PAGE PLUGINS -->
<!--&lt;!&ndash; jQuery Mapael &ndash;&gt;-->
<!--<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>-->
<!--<script src="plugins/raphael/raphael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script src="plugins/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script th:src="@{/dist/js/demo.js}"></script>-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/dist/js/pages/dashboard2.js}"></script>-->
</body>
</html>
