<div th:fragment="loading" class="preloader flex-column justify-content-center align-items-center"
     xmlns:sec="http://www.w3.org/1999/xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <img class="animation__wobble" th:src="@{/images/logo.png}" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Navbar -->
  <nav th:fragment="header" class="main-header navbar navbar-expand navbar-white navbar-light align-items-center">
    <!-- Left navbar links -->
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Панель администратора</a>
      </li>
    </ul>
    <!-- Right navbar links -->
    <aside class="navbar-nav ml-auto align-items-center" >
      <div class="language">
        <i class="fa-solid fa-globe"></i>
        <select class="form-group" id="languageSelector" name="language" style="margin-bottom: 0">
          <option th:selected="${#locale.language == 'uk'}" value="uk_UA">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 30 20" viewBox="0 0 30 20" id="ukraine-flag"><rect width="30" height="20"></rect><rect width="28" height="9" x="1" y="1" fill="#005bbb"></rect><rect width="28" height="9" x="1" y="10" fill="#ffd500"></rect></svg>
            UA
          </option>
          <option th:selected="${#locale.language == 'ru'}" value="ru_UA">
            <i class="fa-solid fa-globe"></i>
            RU
          </option>
        </select>
      </div>
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user-circle text-purple"></i>
<!--          <span class="hidden-xs" style="color:grey;" th:text="${auth_admin.first_name} + ' ' + ${auth_admin.last_name}"></span>-->
          <span class="hidden-xs" style="color:grey;">TEST PROFILE</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header"
              style="background-color: rgba(255,0,0,0.4); display:flex; flex-direction:column;
              justify-content:center;align-items:center;">
            <img th:src="@{/images/placeholder.jpg}" class="img-circle" alt="User Image">
            <p style="margin: 0">
<!--              <b th:text="${auth_admin.first_name} + ' ' + ${auth_admin.last_name}"></b>-->
              <b>TEST PROFILE</b>
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left" style="float: left;">
<!--              <a th:href="@{/admin/admins/update/{id}(id=${auth_admin.id})}" class="btn btn-warning">Профиль</a>-->
              <a href="#" class="btn btn-warning">Профиль</a>
            </div>
              <div >
                  <form id="languageForm" action="#" th:action="@{/change-language}" method="post" >
                      <input type="hidden" name="url" th:value="${#httpServletRequest.requestURI}" />
                      <select class="form-group" name="language" onchange="document.getElementById('languageForm').submit()" style="margin-bottom: 0; width: 92px; height: 36px;">
                          <option th:selected="${#locale.language == 'uk'}" value="uk_UA">Укр</option>
                          <option th:selected="${#locale.language == 'ru'}" value="ru_UA">Рус</option>
                      </select>
                  </form>
              </div>
            <div >
              <a th:href="@{/admin/logout}" class="btn btn-danger">Выйти</a>
            </div>
          </li>
        </ul>
      </li>
    </aside>
    <style>
      nav a {
        text-decoration: none;
      }
    </style>
  </nav>
  <!-- /.navbar -->


  <!-- Main Sidebar Container -->
  <aside th:fragment="sidebar"
         class="main-sidebar sidebar-light-primary"
         style="color: #444444; font-weight: 600; box-shadow: none;" >

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Recursive:wght@300;500&display=swap" rel="stylesheet">

    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link" style="margin-bottom: 20px; padding: 3px; border-right: 1px solid #dee2e6;">
      <img th:src="@{/images/namelogo.png}" alt="AdminLTE Logo"
           class="img"
           style="opacity: .8; width:75%; display: block; margin:auto;">
      <span class="brand-text font-weight-light"></span>
    </a>
    <!-- Sidebar -->
    <form action="">
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav style="margin-top: 10px;">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item" sec:authorize="hasAuthority('statistics.read')">
              <a th:href="@{/admin/statistics/}" class="nav-link">
                <i class="fa-solid fa-chart-line" ></i>
                <p class="pl-1" th:text="#{statistics}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('cashbox.read')">
              <a th:href="@{/admin/cashbox/}"class="nav-link">
                <i class="fa fa-usd" aria-hidden="true" style="width:16px"></i>
                <p class="pl-1" th:text="#{cashBox}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('invoices.read')">
              <a th:href="@{/admin/invoices}" class="nav-link">
                <i class="fa fa-files-o" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{invoices}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('accounts.read')">
              <a th:href="@{/admin/accounts}" class="nav-link">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{apartAccount}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('apartments.read')">
              <a th:href="@{/admin/apartments/}" class="nav-link">
                <i class="fa fa-key" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{apartments}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('owners.read')">
              <a th:href="@{/admin/owners/}" class="nav-link">
                <i class="fa fa-users" aria-hidden="true" style="font-size: 14px"></i>
                <p class="pl-1" th:text="#{apartmentsOwners}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('buildings.read')">
              <a th:href="@{/admin/buildings/}" class="nav-link">
                <i class="fa fa-building" aria-hidden="true" style="width:16px"></i>
                <p class="pl-1" th:text="#{buildings}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('messages.read')">
              <a th:href="@{/admin/messages/}" class="nav-link">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{messages}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('requests.read')">
              <a th:href="@{/admin/requests}" class="nav-link">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{repairRequest}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('meters.read')">
              <a th:href="@{/admin/meters}" class="nav-link">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{metersData}">
                </p>
              </a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('website_settings.read')">
              <a href="#" class="nav-link">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{siteManagment}">
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="font-weight: 400">
                <li class="nav-item dropdown-items" >
                  <a th:href="@{/admin/website/home}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="far fa-circle fa-sm nav-icon"></i>
                    <p th:text="#{mainPage}"></p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" >
                  <a th:href="@{/admin/website/about}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="far fa-circle fa-sm nav-icon"></i>
                    <p th:text="#{aboutUs}"></p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" >
                  <a th:href="@{/admin/website/services}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="far fa-circle fa-sm nav-icon"></i>
                    <p th:text="#{services}"></p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" >
                  <a th:href="@{/admin/website/contacts}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="far fa-circle fa-sm nav-icon"></i>
                    <p th:text="#{contacts}"></p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('services.read','tariffs.read','users.read',
            'roles.read','payment_details.read','transaction_items.read')">
              <a href="#" class="nav-link">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <p class="pl-1" th:text="#{systemSetup}">
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="font-weight: 400">
                <li class="nav-item dropdown-items" sec:authorize="hasAuthority('services.read')">
                  <a th:href="@{/admin/services}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="fa fa-briefcase nav-icon"></i>
                    <p th:text="#{services}">Услуги</p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" sec:authorize="hasAuthority('tariffs.read')" >
                  <a th:href="@{/admin/tariffs}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;"  class="fa fa-money nav-icon"></i>
                    <p th:text="#{tariffs}">Тарифы</p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" sec:authorize="hasAuthority('users.read')">
                  <a th:href="@{/admin/admins}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="fa fa-user-plus nav-icon"></i>
                    <p th:text="#{users}">Пользователи</p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" sec:authorize="hasAuthority('roles.read')">
                  <a th:href="@{/admin/roles}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="fa fa-users nav-icon"></i>
                    <p th:text="#{roles}">Роли</p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" sec:authorize="hasAuthority('payment_details.read')">
                  <a th:href="@{/admin/payment-details}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="fa fa-credit-card nav-icon"></i>
                    <p th:text="#{paymentDetails}">Платежные реквизиты</p>
                  </a>
                </li>
                <li class="nav-item dropdown-items" sec:authorize="hasAuthority('transaction_items.read')">
                  <a th:href="@{/admin/income-expense}" class="nav-link dropdown-links" style="margin:0">
                    <i style="font-size: 12px;" class="fa fa-list-ol nav-icon"></i>
                    <p th:text="#{paymentItens}">Статьи платежей</p>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
    </form>
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script>

      let langSelector = document.getElementById('languageSelector');
      langSelector.addEventListener('change', () => {
        let lang = langSelector.value;
        console.log('selected language: ' + lang);
        console.log(lang);
        let postData = {language: lang};
        let postDataJSON = JSON.stringify(postData);

        const url = "/change-language";

        $.post(url, {language:lang}, function(data){
          console.log(data);
          location.reload();
        });

      });


    </script>
    <!-- /.sidebar -->
    <style>
      * {
        font-family: 'Source Sans Pro';
      }

      .language {
        font-family: Recursive;
        cursor: pointer;
      }

      #languageSelector {
        margin-right: 20px;
        border: none;
        padding:2px;
        -webkit-appearance: none;
      }

      .language:hover>* {
        color: blue;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }
    </style>
  </aside>


  <!-- Main Footer -->
  <footer th:fragment="footer" class="main-footer">
    <strong th:text="#{footerP1}">Разработано <a href="#" th:text="#{footerP2}">AVADA-MEDIA</a>.</strong>
    <strong th:text="#{footerP3}">На базе системы управления <a href="#" th:text="#{footerP4}">"МойДом24"</a>.</strong>
    <strong th:text="#{footerP5}">Документация API доступна по <a href="#" th:text="#{footerP6}">ссылке</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

