<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Новое сообщение</h1>
          </div><!-- /.col -->
          <div class="col-sm-6 align-items-center">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/messages}">Сообщения</a></li>
              <li class="breadcrumb-item active">Новое сообщение</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-title"></div>

              <div class="box-body">
                <form method="post" th:object="${message}">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" style="width: 100%;" placeholder="Тема сообщения..." name="" id="">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group field-websitehomeform-homedescription">
                      <ul class="wysihtml5-toolbar"><li class="dropdown">
                        <a class="btn btn-default dropdown-toggle btn-none" data-toggle="dropdown">

                          <span class="fa fa-font" aria-hidden="true"></span>

                          <span class="current-font">Обычный текст</span>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Обычный текст</a></li>
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 1</a></li>
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 2</a></li>
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 3</a></li>
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 4</a></li>
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 5</a></li>
                          <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Заголовок 6</a></li>
                        </ul>
                      </li>
                        <li>
                          <div class="btn-group">
                            <a class="btn btn-none btn-default" id="bold-button" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Полужирный</a>
                            <a class="btn btn-none btn-default" id="italic-button" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Курсив</a>
                            <a class="btn btn-none btn-default" id="underline-button" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Подчёркнутый</a>

                          </div>
                        </li>
                        <li>
                          <div class="btn-group">
                            <a class="btn btn-none btn-default" data-wysihtml5-command="insertUnorderedList" title="Маркированный список" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-list-ul" aria-hidden="true"></span>

                            </a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="insertOrderedList" title="Нумерованный список" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-list-ol" aria-hidden="true"></span>

                            </a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="Outdent" title="Уменьшить отступ" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-outdent" aria-hidden="true"></span>

                            </a>
                            <a class="btn btn-none btn-default" data-wysihtml5-command="Indent" title="Увеличить отступ" tabindex="-1" href="javascript:;" unselectable="on">

                              <span class="fa fa-indent" aria-hidden="true"></span>

                            </a>
                          </div>
                        </li>
                      </ul>
                      <textarea style="width: 100%;" rows="10" placeholder="Текст сообщения" id="description" name="description"></textarea>
                      <div class="help-block"></div>
                    </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h3>Кому отправить:</h3>
                      <input type="checkbox" name="" id="" style="display: inline;"> Владельцам с задолженностями
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <p>ЖК</p>
                      <select style="width: 100%;" name="" id="">
                        <option value="0">Всем...</option>
                      </select>
                      <p>Секция</p>
                      <select style="width: 100%;" name="" id="">
                        <option value="0">Всем...</option>
                      </select>
                      <p>Этаж</p>
                      <select style="width: 100%;" name="" id="">
                        <option value="0">Всем...</option>
                      </select>
                      <p>Квартира</p>
                      <select style="width: 100%;" name="" id="">
                        <option value="0">Всем...</option>
                      </select>
                    </div>
                  </div>

                  <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success"><i class="fas fa-envelope"></i> Отправить</button>
                  </div>
                </form>
              </div>

              <div class="box-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<!--<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

<!-- PAGE PLUGINS -->
<!--&lt;!&ndash; jQuery Mapael &ndash;&gt;-->
<!--<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>-->
<!--<script src="plugins/raphael/raphael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script src="plugins/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script th:src="@{/dist/js/demo.js}"></script>-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/dist/js/pages/dashboard2.js}"></script>-->
</body>
</html>
