<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24</title>
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">

</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Статистика</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">


            <div style="padding: 10px">
                <div class="row">
                    <div class="col-lg-4 col-6">

                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 th:if="${buidingsQuant}" th:text="${buidingsQuant}"></h3>
                                <p>Домов</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-building" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 th:if="${apartmentsQuant}" th:text="${apartmentsQuant}"></h3>
                                <p>Квартир</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-key" aria-hidden="true"></i></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">

                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3 th:if="${ownersQuant}" th:text="${ownersQuant}"><sup style="font-size: 20px">%</sup></h3>
                                <p>Активных владельцев</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3 th:if="${accountsQuant}" th:text="${accountsQuant}">53<sup style="font-size: 20px"></sup></h3>
                                <p>Лицевых счетов</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">

                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3 th:if="${inworkRepairRequestQuant}" th:text="${inworkRepairRequestQuant}"></h3>
                                <p>Заявок мастера в работе</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3 th:if="${newRepairRequestQuant}" th:text="${newRepairRequestQuant}"></h3>
                                <p>Новых заявок мастера</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-12">
                        <!-- BAR CHART -->
                        <div class="card card-success">
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="info-box">
                            <span class="info-box-icon bg-danger"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">ЗАДОЛЖЕННОСТЬ ПО СЧЕТАМ, ГРН</span>
                                <span class="info-box-number" th:text="${sumDebt}"></span>
                            </div>
                        </div>

                        <div class="info-box" style="margin-top: 25px; margin-bottom: 25px;">
                            <span class="info-box-icon bg-info"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">БАЛАНС ПО СЧЕТАМ, ГРН</span>
                                <span class="info-box-number" th:text="${accountBalance}"></span>
                            </div>
                        </div>

                        <div class="info-box">
                            <span class="info-box-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">СОСТОЯНИЕ КАССЫ, ГРН</span>
                                <span class="info-box-number" th:text="${cashBoxSum}"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card card-success">
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </section>
    </div>
<!-- /.Main content -->


<!-- Footer -->
<footer th:insert="~{main-template :: footer}"></footer>
<!-- /.Footer -->
</div>


<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- ChartJS -->
<script src="../../plugins/chart.js/Chart.min.js"></script>




<script th:inline="javascript">
    /*<![CDATA[*/
    var months = /*[[${diagramMonths}]]*/ [];
    var dataInv = /*[[${diagramAllInvoices}]]*/ [];
    var dataPaidInv = /*[[${diagramPaidInvoices}]]*/ [];

    console.log(months)
    console.log(dataInv)
    console.log(dataPaidInv)
    $(function () {
        var areaChartData = {
            labels: months,
            datasets: [
                {
                    label               : 'Задолженность',
                    backgroundColor     : 'rgb(236,0,0)',
                    borderColor         : 'rgba(60,141,188,0.8)',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data                : dataInv
                },
                {
                    label               : 'Погашеные задолженности',
                    backgroundColor     : 'rgb(0,139,2)',
                    borderColor         : 'rgba(210, 214, 222, 1)',
                    pointRadius         : false,
                    pointColor          : 'rgba(210, 214, 222, 1)',
                    pointStrokeColor    : '#c1c7d1',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data                : dataPaidInv
                },
            ]
        }

        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var barChartData = $.extend(true, {}, areaChartData)
        var temp0 = areaChartData.datasets[0]
        var temp1 = areaChartData.datasets[1]
        barChartData.datasets[0] = temp1
        barChartData.datasets[1] = temp0

        var barChartOptions = {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false
        }

        new Chart(barChartCanvas, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions
        })
    })
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var months = /*[[${diagramMonths}]]*/ [];
    var dataIn = /*[[${diagramIncomeCashBox}]]*/ [];
    var dataEx = /*[[${diagramExpenceCashBox}]]*/ [];

    console.log(months)
    console.log(dataIn)
    console.log(dataEx)
    $(function () {
        var areaChartData = {
            labels: months,
            datasets: [
                {
                    label               : 'Приход',
                    backgroundColor     : 'rgb(0,139,2)',
                    borderColor         : 'rgba(60,141,188,0.8)',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: dataIn
                },
                {
                    label               : 'Расход ',
                    backgroundColor     : 'rgb(236,0,0)',
                    borderColor         : 'rgba(210, 214, 222, 1)',
                    pointRadius         : false,
                    pointColor          : 'rgba(210, 214, 222, 1)',
                    pointStrokeColor    : '#c1c7d1',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: dataEx
                },
            ]
        }

        var barChartCanvas = $('#barChart2').get(0).getContext('2d')
        var barChartData = $.extend(true, {}, areaChartData)
        var temp0 = areaChartData.datasets[0]
        var temp1 = areaChartData.datasets[1]
        barChartData.datasets[0] = temp1
        barChartData.datasets[1] = temp0

        var barChartOptions = {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false
        }

        new Chart(barChartCanvas, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions
        })
    })
</script>
</body>
</html>
