<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Печатная форма документа</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/invoices}">Квитанции</a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/invoices/{id}(id=${invoice.id})}">Квитанция №<span th:text="${T(java.lang.String).format('%010d', invoice.id)}"></span></a></li>
              <li class="breadcrumb-item active">Печатная форма документа</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="container-fluid">
        <form action="" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div class="row">
          <div class="col-md-12">
            <div class="box" style="caret-color:transparent; padding:0; padding-inline: 10px;">
              <div class="box-header with-border" style="padding-top: 15px; padding-bottom: 15px;">
                <h3 class="box-title" style="margin: 0; padding: 0">Список шаблонов</h3>
                <div class="box-tools">
                  <a th:href="@{/admin/invoices/template}" class="btn btn-default btn-sm">
                    <span class="hidden-xs"> Настройка шаблонов </span>
                  </a>
                </div>
              </div>
              <div class="box-body">
                <div class="row mt-2">
                  <div class="col-xs-12 col-lg-12">
                    <ul style="list-style-type: none; padding-left: 5px;">
                      <li th:if="${default_template != null}">
                        <input type="radio" name="template" th:value="${default_template.id}" checked>
                        <label class="pl-1" th:text="${default_template.name} + ' (по умолчанию)'"></label>
                      </li>
                      <li th:each="template : ${templates}" th:if="${!template._default_}">
                        <input type="radio" name="template" th:value="${template.id}">
                        <label class="pl-1" style="font-weight: normal;" th:text="${template.name}"></label>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 text-right pull-right">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">Скачать</button>
                      <button type="submit" class="btn btn-default">Отправить на e-mail</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<style>
label{
  font-size:20px;
  vertical-align: middle;
}

input[type="radio"]{
  width: 18px;
  height: 18px;
}
</style>

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<!--<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>

<!-- PAGE PLUGINS -->
<!--&lt;!&ndash; jQuery Mapael &ndash;&gt;-->
<!--<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>-->
<!--<script src="plugins/raphael/raphael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script src="plugins/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script th:src="@{/dist/js/demo.js}"></script>-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/dist/js/pages/dashboard2.js}"></script>-->
</body>
</html>
