<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>МойДом24</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/datepicker.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.4.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Квитанции на оплату</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>  Главная</a></li>
              <li class="breadcrumb-item active">Квитанции на оплату</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-green overflow-hidden">
                            <div class="inner">
                                <h3 th:text="${T(java.lang.String).format(T(java.util.Locale).ROOT, '%.2f',cashbox_balance) + ' грн'}">-3 811 220.06 грн</h3>
                                <p>Состояние кассы</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-blue overflow-hidden">
                            <div class="inner">
                                <h3 th:text="${T(java.lang.String).format(T(java.util.Locale).ROOT, '%.2f',account_balance) + ' грн'}">346 259.62 грн</h3>
                                <p>Баланс по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="small-box bg-red overflow-hidden">
                            <div class="inner">
                                <h3 th:text="${T(java.lang.String).format(T(java.util.Locale).ROOT, '%.2f',account_debt) + ' грн'}">568 914.00 грн</h3>
                                <p>Задолженность по счетам</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <!--<span class="small-box-footer">&nbsp;</span>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="btn-group pull-right margin-bottom">
                    <button type="button" class="btn btn-success dropdown-toggle" style="width: 230px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Выберите действие <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/admin/invoices/create}" style="padding-inline:15px;">Создать новую квитанцию</a></li>
                        <li onclick="deleteChosen()"><a>Удалить</a></li>
                    </ul>
                </div>
            </div>
    </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="box" style="padding:0;">
              <div class="box-header with-border">

                <h3 class="box-title"></h3>

                <div class="box-tools">
                  <a th:href="@{/admin/invoices}" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                  </a>
                </div>
                  <div id="page_button_container_top" class="mb-4" style="display: flex; justify-content: center;"></div>
              </div>
              <div class="box-body table-responsive">
                  <form action="" method="get" th:object="${filter_form}">
                    <table class="table table-bordered table-hover table-striped linkedRow" id="invoices_table">
                  <thead>
                      <tr>
                        <th><input type="checkbox" name="" id="check_all"></th>
                          <th>№ квитанции</th>
                          <th style="min-width:180px;">Статус</th>
                          <th>Дата</th>
                          <th>Месяц</th>
                          <th>Квартира</th>
                          <th style="min-width:250px;">Владелец</th>
                          <th style="min-width:150px;">Проведена</th>
                          <th>Сумма(грн)</th>
                          <th></th>
                      </tr>
                      <tr>
                          <td></td>
                          <td style="padding:10px">
                              <input type="text" th:field="*{id}" data-name="id" class="my_filters" style="width: 100%; padding-block: 9px; border: 0.5px solid silver;">
                          </td>
                          <td style="padding:10px">
                              <select th:field="*{status}" data-name="status" class="my_filters" style="width: 100%; padding-block: 10px">
                                  <option value=""></option>
                                  <option th:each="status : ${T(com.example.myhome.home.model.InvoiceStatus).values()}"
                                          th:value="${status}"
                                          th:text="${status.getName()}"></option>
                              </select>
                          </td>
                          <td style="padding:10px">
                              <div class="input-group" id="date_picker" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                  <input id="datetime" style="padding-block: 21px" type="text" data-name="date" th:field="*{date}" value="2023-01-01" class="form-control datetime_filter" data-td-target="#datetimepicker1">
                                  <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                              </div>
                          </td>
                          <td style="padding:10px">
                              <div class="input-group" id="date_picker2" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                  <input id="month" style="padding-block: 21px" type="text" data-name="month" th:field="*{month}" value="2023-01-01" class="form-control my_filters" data-td-target="#datetimepicker1">
                                  <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                              </div>
                          </td>
                          <td style="padding:10px">
                              <input type="text" th:field="*{apartment}" data-name="apartment" class="my_filters" style="width: 100%; padding-block: 9px; border: 0.5px solid silver;">
                          </td>
                          <td style="padding:10px">
                              <select th:field="*{owner}" data-name="owner" class="my_filters" style="width: 100%; padding-block: 10px">
                                  <option value=""></option>
                                  <option th:each="owner : ${owners}"
                                          th:value="${owner.id}"
                                          th:text="${owner.getFullName()}"></option>
                              </select>
                          </td>
                          <td style="padding:10px">
                              <select th:field="*{completed}" data-name="completed" class="my_filters" style="width: 100%; padding-block: 10px">
                                  <option value=""></option>
                                  <option value="true">Проведена</option>
                                  <option value="false">Не проведена</option>
                              </select>
                          </td>
                          <td></td>
                          <td></td>
                      </tr>
                  </thead>
                  <tbody>
<!--                    <tr style="cursor: pointer;" class="invoice_row" th:each="invoice : ${invoices}">-->
<!--                        <input type="hidden" th:value="${invoice.id}">-->
<!--                        <td><input type="checkbox" name="" id=""></td>-->
<!--                        <td th:text="${T(java.lang.String).format('%010d',invoice.id)}"></td>-->
<!--                        <td>-->
<!--                            <small th:class="'label ' +-->
<!--                            ${invoice.status == T(com.example.myhome.home.model.InvoiceStatus).PAID ? 'label-success' :-->
<!--                            (invoice.status == T(com.example.myhome.home.model.InvoiceStatus).UNPAID) ? 'label-danger' : 'label-warning'}"-->
<!--                                   th:text="${invoice.status.getName()}">-->
<!--                            </small>-->
<!--                        </td>-->
<!--                        <td th:text="${invoice.date}"></td>-->
<!--                        <td th:text="${#temporals.format(invoice.date, 'MMM yyyy')}"></td>-->
<!--                        <td th:text="${invoice.apartment.number} + ', ' + ${invoice.apartment.building.name}"></td>-->
<!--                        <td th:text="${invoice.apartment.owner.getFullName()}"></td>-->
<!--                        <td><span th:text="${invoice.completed} ? 'Проведена' : 'Не проведена'"></span></td>-->
<!--                        <td><span th:text="${invoice.total_price}"></span></td>-->
<!--                        <td>-->
<!--                            <div class="btn-group pull-right">-->
<!--                                <a class="btn btn-default btn-sm" th:href="@{/admin/invoices/update/{id}(id=${invoice.id})}"><i class="fa fa-pencil"></i></a>-->
<!--                                <a class="btn btn-default btn-sm"-->
<!--                                   th:attr="data-url='/admin/invoices/delete/'+${invoice.id}"-->
<!--                                   th:onclick="if(confirm('Удалить квитанцию?')) window.location.href=this.dataset.url"><i class="fa fa-trash"></i></a>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
                  <tr th:if="${invoices.size() == 0}">
                      <td colspan="10">Ничего не найдено...</td>
                  </tr>
                  </tbody>
                </table>
                  <div id="page_button_container" class="mb-4" style="display: flex; justify-content: center;">

                  </div>
                  </form>
              </div>
              <div class="box-footer clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- Icons -->
<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<!--<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!--<script th:src="@{/dist/js/filter.js}"></script>-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>

    let current_page_number = 0;
    let invoices_amount = [[${amount}]];
    let pages_count = Math.floor(invoices_amount / 5);
    const invoices_on_page = 5;

    let page_buttons_container = document.getElementById("page_button_container");
    let page_buttons_container_top = document.getElementById("page_button_container_top");

    document.getElementById("check_all").addEventListener('click', function(){
        console.log(this.checked);
        if(this.checked == true) {
            console.log('true block');
            for(const checkbox of document.querySelectorAll("input[type=checkbox]")) {
                checkbox.checked = true;
            }
        } else if(this.checked == false) {
            console.log('false block');
            for(const checkbox of document.querySelectorAll("input[type=checkbox]")) {
                checkbox.checked = false;
            }
        }

    });

    function deleteChosen(){
        if(confirm('Удалить выбранные квитанции?')) {
            for(const row of document.querySelectorAll(".invoice_row")) {
                console.log(row.querySelector("input[type=checkbox]"));
                if(row.querySelector("input[type=checkbox]").checked == true) {
                    let invoice_id = row.children[0].value;
                    console.log(invoice_id);
                    $.get('/admin/invoices/delete-invoice', {id:invoice_id}, function(data){console.log(data); row.remove();}).fail(function(){alert('Ошибка в удалении квитанций')});
                }
            }
            window.location.href='/admin/invoices';
        }
    }

    function gatherFilters() {

        let building_id = $("#building").val();
        let service_id = $("#service").val();
        let apartment_number = $("#apartment").val();
        let section_name = $("#section").val();

        let id = $("#id").val();
        let datetime = $("#datetime").val();
        let description = $("#description").val();
        let master_type = $("#master_type").val();
        let master_id = $("#master").val();
        let owner_id = $("#owner").val();
        let phone = $("#phone").val();
        let status = $("#status").val();

        let completed = $("#completed").val();

        console.log(apartment_number);

        let filterForm = {
            building: (building_id) ? building_id : null,
            service: (service_id) ? service_id : null,
            apartment: (apartment_number) ? apartment_number : null,
            section: (section_name) ? section_name : null,
            id: (id) ? id : null,
            datetime: (datetime) ? datetime : null,
            description: (description) ? description : null,
            master_type: (master_type) ? master_type : null,
            master: (master_id) ? master_id : null,
            owner: (owner_id) ? owner_id : null,
            phone: (phone) ? phone : null,
            status: (status) ? status : null,
            completed: (completed) ? completed : null
        };

        return filterForm;
    }


    function fillPageButtonsContainer(page_buttons_container, invoice_list_length) {

        invoices_amount = invoice_list_length;
        pages_count = Math.floor(invoices_amount / 5);

        page_buttons_container.innerHTML = '';

        let back_btn = document.createElement("a");
        back_btn.classList.add("btn", "btn-default");
        back_btn.innerText = ' < ';
        back_btn.addEventListener('click', () => switchPage(current_page_number - 1));

        page_buttons_container.appendChild(back_btn);

        for(let i = 0; i <= pages_count; i++) {
            let btn = document.createElement("a");
            btn.classList.add("btn", "btn-default");
            if(i == current_page_number) btn.classList.add("selected");
            btn.innerText = i+1;
            btn.addEventListener('click', () => switchPage(i));
            page_buttons_container.appendChild(btn);
        }

        let fwd_btn = document.createElement("a");
        fwd_btn.classList.add("btn", "btn-default");
        fwd_btn.innerText = ' > ';
        fwd_btn.addEventListener('click', () => switchPage(current_page_number + 1));

        page_buttons_container.appendChild(fwd_btn);
    }

    function setInvoicesForPage(page_number) {

        let filterForm = JSON.stringify(gatherFilters());
        console.log(filterForm);

        $.get("/admin/invoices/get-invoices", {page:page_number, page_size:invoices_on_page, f_string:filterForm}, function(data){
            $("#invoices_table tbody").html('');
            for(const row of data) {
                let date = new Date(row.date);
                date.setDate(date.getDate() + 1);
                const monthNames = ["January", "February", "March", "April", "May", "June",
                  "July", "August", "September", "October", "November", "December"
                ];
                let month_string = monthNames[date.getMonth()] + ' ' + date.getFullYear();
                let table_row = document.createElement('tr');
                table_row.style.cursor = 'pointer';
                table_row.class = 'invoice_row';
                table_row.innerHTML = '<input type="hidden" value=' + row.id.toString() + '>' +
                        '<td><input type="checkbox" name="" id=""></td>' +
                        '<td>' + row.id.toString().padStart(10, '0') + '</td>' +
                        '<td>' +
                            '<small class="label ' + (row.status == 'PAID' ? 'label-success' : row.status == 'UNPAID' ? 'label-danger' : 'label-warning') + '">' +
                            row.status +
                            '</small>' +
                       '</td>' +
                        '<td>' + date.toISOString().split('T')[0] + '</td>' +
                        '<td>' + month_string + '</td>' +
                        '<td>' + row.apartment.number.toString() + ', ' + row.apartment.building.name.toString() + '</td>' +
                        '<td>' + row.apartment.owner.fullName.toString() + '</td>' +
                        '<td><span>' + (row.completed ? 'Проведена' : 'Не проведена') + '</span></td>' +
                        '<td><span>' + row.total_price.toString() + '</span></td>' +
                        '<td>'+
                            '<div class="btn-group pull-right">' +
                                '<a class="btn btn-default btn-sm" href="/admin/invoices/update/' + row.id.toString() + '"><i class="fa fa-pencil"></i></a>' +
                                '<a class="btn btn-default btn-sm"' +
                                   'data-url="/admin/invoices/delete/' + row.id.toString() + '"' +
                                   'onclick="if(confirm(\'Удалить квитанцию?\')) window.location.href=this.dataset.url"><i class="fa fa-trash"></i></a>' +
                            '</div>' +
                        '</td>';

                let row_children = table_row.children;
                let invoice_id = row.id;
                for(let j = 2; j < row_children.length - 1; j++) {
                    row_children[j].addEventListener('click', function(){
                        window.location.href = '/admin/invoices/'+invoice_id;
                    });
                }

                $("#invoices_table tbody").append(table_row);

            }
        });

        $.get("/admin/invoices/get-filtered-invoice-count", {f_string:filterForm}, function(invoice_list_length) {
            fillPageButtonsContainer(page_buttons_container, invoice_list_length);
            fillPageButtonsContainer(page_buttons_container_top, invoice_list_length);
        })
    }

    function switchPage(page_number) {

        if(page_number < 0) page_number = pages_count;
        else if(page_number > pages_count) page_number = 0;

        setInvoicesForPage(page_number);

        current_page_number = page_number;

    }

    $(document).ready(function(){

        setInvoicesForPage(current_page_number);

        let config = {
            enableTime: false,
            dateFormat: "Y-m-d",
            minDate: "2020-01",
            maxDate: new Date().fp_incr(1),
            mode: "range"
        };

        let config2 = {
            enableTime: false,
            dateFormat: "Y-m",
            minDate: "2020-01",
            maxDate: new Date().fp_incr(1),
        };

        flatpickr("#datetime", config);
        flatpickr("#month", config2);

        $("#status, #owner, #completed").select2();

        fillPageButtonsContainer(page_buttons_container);
        fillPageButtonsContainer(page_buttons_container_top);

        $(".my_filters").change(() => setInvoicesForPage(0));
        $(".datetime_filter").change(function(){
            let datetime = this.value;
            console.log(datetime);
            console.log(datetime.split(' to '));
            if(datetime.split(' to ').length > 1) setInvoicesForPage(0);
        });

    });

</script>

<style>
        a.selected {
            background-color: black;
            color: white;
            cursor: initial;
            caret-color:transparent;
        }

        a.selected:hover {
            background-color: black;
            color: white;
        }
</style>

<!-- PAGE PLUGINS -->
<!--&lt;!&ndash; jQuery Mapael &ndash;&gt;-->
<!--<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>-->
<!--<script src="plugins/raphael/raphael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>-->
<!--<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>-->
<!--&lt;!&ndash; ChartJS &ndash;&gt;-->
<!--<script src="plugins/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script th:src="@{/dist/js/demo.js}"></script>-->
<!--&lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--<script th:src="@{/dist/js/pages/dashboard2.js}"></script>-->
</body>
</html>
