<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МойДом24-Дома</title>
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <!--    navigation card bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     add & del input field in navigation card bootstrap
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>








    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">


    <!-- navbar header/sidebar -->
    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>
    <!-- /.navbar header/sidebar -->

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
<!--                        <h1 class="m-0" th:text="'Квартира '+${apartment.number} + ', ' +${apartment.building.name} + ' редакторование'"></h1>-->
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{home}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/apartments/}">Квартиры</a></li>
<!--                            <li class="breadcrumb-item active"-->
<!--                                th:text="'Квартира '+${apartment.number} + ', ' +${apartment.building.name} + ' редакторование'"></li>-->
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form class="row g-3 needs-validation" novalidate th:method="POST"
                      th:action="@{/apartments/save}" th:object="${apartment}" enctype="multipart/form-data">
                    <div class="card" style="padding: 10px">
                        <div class="row">
                            <div class="col-md-6">

                                <input type="hidden" id="id" class="form-control"  name="id"
                                       th:field="*{id}" placeholder="">

                                <label for="number">Номер квартиры</label>
                                <input type="number" id="number" class="form-control"  name="number"
                                       th:field="*{number}" placeholder="">

                                <label for="square">Площадь (кв.м.)</label>
                                <input type="number" id="square" class="form-control"  name="square"
                                       th:field="*{square}" placeholder="">

                                <label for="building"  class="form-label" >Дом</label>
                                <select class="form-select" id="building" name="building" th:onchange="selectBuilding()">
                                    <option selected="" disabled="" value="">Choose...</option>
                                    <option  th:each="building, item : ${buildings}"
                                    th:text="${buildings[__${item.index}__].name}"
                                    th:value="${buildings[__${item.index}__].id}" th:id="${item.count}"></option>
                                </select>

                                <label for="section"   class="form-label" >Секция</label>
                                <select class="form-select"  id="section" name="section">
                                    <option selected="" disabled="" value="">Choose...</option>

                                </select>

                                <label for="floor"  class="form-label" >Этаж</label>
                                <select class="form-select"   id="floor" name="floor">
                                    <option selected="" disabled="" value="">Choose...</option>
                                </select>

                                <div class="form-group">
                                    <label>Владелец</label>
                                    <select class="form-control select2bs4" name="owner" style="width: 100%;">
                                        <option selected="" disabled="" value="">Choose...</option>
                                        <option  th:each="owner, item : ${owners}"
                                                 th:text="${owners[__${item.index}__].first_name}+ ' '+${owners[__${item.index}__].last_name}+' '+${owners[__${item.index}__].fathers_name}"
                                                 th:value="${owners[__${item.index}__].id}" th:id="${item.count}"></option>
                                    </select>
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <label for="owner" class="form-label" >Владелец</label>-->
<!--                                    <select class="form-control select2 select2-hidden-accessible"  id="owner" name="owner" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">-->
<!--                                        <option selected="" disabled="" value="">Choose...</option>-->
<!--                                        <option  th:each="owner, item : ${owners}"-->
<!--                                                 th:text="${owners[__${item.index}__].first_name}+ ' '+${owners[__${item.index}__].last_name}+' '+${owners[__${item.index}__].fathers_name}"-->
<!--                                                 th:value="${owners[__${item.index}__].id}" th:id="${item.count}"></option>-->
<!--                                    </select><span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;focus" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-ewqa-container"><span class="select2-selection__rendered" id="select2-ewqa-container" role="textbox" aria-readonly="true" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
<!--                                </div>-->


<!--                                <div class="form-group">-->
<!--                                    <label>Minimal</label>-->
<!--                                    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">-->
<!--                                        <option selected="selected" data-select2-id="3">Alabama</option>-->
<!--                                        <option  th:each="owner, item : ${owners}"-->
<!--                                                 th:text="${owners[__${item.index}__].first_name}+ ' '+${owners[__${item.index}__].last_name}+' '+${owners[__${item.index}__].fathers_name}"-->
<!--                                                 th:value="${owners[__${item.index}__].id}" th:id="${item.count}"></option>-->

<!--                                    </select><span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;below" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection&#45;&#45;single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-ewqa-container"><span class="select2-selection__rendered" id="select2-ewqa-container" role="textbox" aria-readonly="true" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>-->
<!--                                </div>-->


                                <label for="tariff" class="form-label" >Тариф</label>
                                <select class="form-select" id="tariff" name="tariff">
                                    <option selected="" disabled="" value="">Choose...</option>

                                </select>
                            </div>
                            <div class="col-md-6">

                                <label for="account" class="form-label" >Лицевой счет</label>
                                <input type="account" id="account" class="form-control" name="square"
                                       placeholder="">
                                <select class="form-select" id="accounts" name="accounts">
                                    <option selected="" disabled="" value="">Choose...</option>
                                    <option>1</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">Сохранить</button>
                </form>
            </div>
        </section>
    </div>
    <!-- /.Main content -->
    <!-- Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
    <!-- /.Footer -->
</div>

<script th:inline="javascript">

    function selectBuilding() {

        var list = /*[[${buildings}]]*/ [];
        var selectedIndex = document.getElementById("building").selectedIndex-1;

        //sections
        var select = document.getElementById("section");
        select.innerHTML = "<option selected=\"\" disabled=\"\" value=\"\">Choose...</option>";
        var options = list[selectedIndex].sections;
        for (let i = 0; i < options.length; i++) {
            const option = document.createElement("option");
            option.value = options[i];
            option.textContent = options[i];
            select.appendChild(option);
        }
        //floors
        var selectF = document.getElementById("floor");
        selectF.innerHTML = "<option selected=\"\" disabled=\"\" value=\"\">Choose...</option>";
        var optionsF = list[selectedIndex].floors;
        for (let i = 0; i < optionsF.length; i++) {
            const optionF = document.createElement("option");
            optionF.value = optionsF[i];
            optionF.textContent = optionsF[i];
            selectF.appendChild(optionF);
        }
    }
</script>
<!-- Icons -->
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>



<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

    })

</script>
</body>
</html>
